openapi: 3.0.0
info:
  description: Description of Identity Provider API
  title: Identity Provider Management API
  version: 1.0.0
servers:
- description: Anypoint Cloudhub
  url: https://anypoint.mulesoft.com/accounts/api/
- description: Anypoint Cloudhub EU
  url: https://eu1.anypoint.mulesoft.com/accounts/api/
- description: Anypoint Cloudhub GOV
  url: https://gov.anypoint.mulesoft.com/accounts/api/
security:
- bearerAuth: []
paths:
  /organizations/{orgId}/identityProviders:
    get:
      description: Returns all identity providers for the given organization
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_organizations__orgId__identityProviders_get_200_response'
          description: Success response
    post:
      description: Creates an IDP connection through SAML or OIDC
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/idpPostBody'
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/idp'
          description: Success response
  /organizations/{orgId}/identityProviders/{idpId}:
    delete:
      description: Deletes the given identity provider for the given organization
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the Identity Provider in GUID format
        explode: false
        in: path
        name: idpId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          description: Access token is missing or invalid
        "404":
          content:
            plain/text:
              schema:
                example: This resource does not exist
          description: Not Found response
        "204":
          description: Success response
    get:
      description: Returns all identity providers for the given organization
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the Identity Provider in GUID format
        explode: false
        in: path
        name: idpId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          description: Access token is missing or invalid
        "404":
          content:
            plain/text:
              schema:
                example: This resource does not exist
          description: Not Found response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/idp'
          description: Success response
    patch:
      description: Updates the given identity provider for the given organization
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the Identity Provider in GUID format
        explode: false
        in: path
        name: idpId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/idpPatchBody'
      responses:
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_organizations__orgId__identityProviders__idpId__patch_400_response'
          description: Bad request response
        "401":
          description: Access token is missing or invalid
        "404":
          content:
            plain/text:
              schema:
                example: This resource does not exist
          description: Not Found response
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/idp'
          description: Success response
components:
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_organizations__orgId__identityProviders__idpId__patch_400_response'
      description: Bad request response
    NotFoundError:
      content:
        plain/text:
          schema:
            example: This resource does not exist
      description: Not Found response
    SuccessGetIDP:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/idp'
      description: Success response
    SuccessPostIDP:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/idp'
      description: Success response
    SuccessPatchIDP:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/idp'
      description: Success response
    SuccessDeleteIDP:
      description: Success response
    SuccessListIDPs:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_organizations__orgId__identityProviders_get_200_response'
      description: Success response
  schemas:
    idp:
      oneOf:
      - $ref: '#/components/schemas/samlProviderGet'
      - $ref: '#/components/schemas/ldapProviderGet'
      - $ref: '#/components/schemas/openIDProviderGet'
      title: idp
    idpPostBody:
      oneOf:
      - $ref: '#/components/schemas/samlProviderPostBody'
      - $ref: '#/components/schemas/ldapProviderPostBody'
      - $ref: '#/components/schemas/openIDProviderManualPostBody'
      - $ref: '#/components/schemas/openIDProviderDynamicPostBody'
    idpPatchBody:
      oneOf:
      - $ref: '#/components/schemas/samlProviderPatch'
      - $ref: '#/components/schemas/ldapProviderPatch'
      - $ref: '#/components/schemas/openIDProviderPatch'
    samlProviderPostBody:
      additionalProperties: false
      properties:
        arc_namespace:
          type: string
        name:
          type: string
        type:
          $ref: '#/components/schemas/samlProviderPostBody_type'
        service_provider:
          $ref: '#/components/schemas/samlProviderPostBody_service_provider'
        saml:
          $ref: '#/components/schemas/samlProviderPostBody_saml'
        login_disabled:
          type: boolean
      required:
      - name
      - saml
      - service_provider
      - type
      type: object
    ldapProviderPostBody:
      additionalProperties: false
      properties:
        name:
          type: string
        arc_namespace:
          type: string
        type:
          $ref: '#/components/schemas/ldapProviderPostBody_type'
        connection:
          $ref: '#/components/schemas/ldapProviderPostBody_connection'
        search_bases:
          $ref: '#/components/schemas/ldapProviderPostBody_search_bases'
        dns:
          $ref: '#/components/schemas/ldapProviderPostBody_search_bases'
        filters:
          $ref: '#/components/schemas/ldapProviderPostBody_filters'
        user_mapping:
          $ref: '#/components/schemas/ldapProviderPostBody_user_mapping'
        group_mapping:
          $ref: '#/components/schemas/ldapProviderPostBody_group_mapping'
      required:
      - connection
      - dns
      - filters
      - group_mapping
      - name
      - search_bases
      - type
      - user_mapping
      type: object
    openIDProviderManualPostBody:
      additionalProperties: false
      properties:
        name:
          type: string
        arc_namespace:
          type: string
        type:
          $ref: '#/components/schemas/openIDProviderManualPostBody_type'
        oidc_provider:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider'
        allow_untrusted_certificates:
          type: boolean
        login_disabled:
          type: boolean
      required:
      - name
      - oidc_provider
      - type
      type: object
    openIDProviderDynamicPostBody:
      additionalProperties: false
      properties:
        name:
          type: string
        arc_namespace:
          type: string
        type:
          $ref: '#/components/schemas/openIDProviderManualPostBody_type'
        oidc_provider:
          $ref: '#/components/schemas/openIDProviderDynamicPostBody_oidc_provider'
        allow_untrusted_certificates:
          type: boolean
        login_disabled:
          type: boolean
      required:
      - name
      - oidc_provider
      - type
      type: object
    samlProviderPatch:
      additionalProperties: false
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/samlProviderPatch_type'
        service_provider:
          $ref: '#/components/schemas/samlProviderPatch_service_provider'
        saml:
          $ref: '#/components/schemas/samlProviderPatch_saml'
        login_disabled:
          type: boolean
      type: object
    ldapProviderPatch:
      additionalProperties: false
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/samlProviderPatch_type'
        connection:
          $ref: '#/components/schemas/ldapProviderPatch_connection'
        search_bases:
          $ref: '#/components/schemas/ldapProviderPatch_search_bases'
        dns:
          $ref: '#/components/schemas/ldapProviderPatch_search_bases'
        filters:
          $ref: '#/components/schemas/ldapProviderPatch_filters'
        user_mapping:
          $ref: '#/components/schemas/ldapProviderPatch_user_mapping'
        group_mapping:
          $ref: '#/components/schemas/ldapProviderPatch_group_mapping'
      type: object
    openIDProviderPatch:
      additionalProperties: false
      properties:
        name:
          type: string
        type:
          $ref: '#/components/schemas/samlProviderPatch_type'
        oidc_provider:
          $ref: '#/components/schemas/openIDProviderPatch_oidc_provider'
        allow_untrusted_certificates:
          type: boolean
        login_disabled:
          type: boolean
      type: object
    samlProviderGet:
      additionalProperties: false
      example:
        login_disabled: true
        org_id: org_id
        name: name
        saml:
          public_key:
          - public_key
          - public_key
          claims_mapping:
            firstname_attribute: firstname_attribute
            username_attribute: username_attribute
            lastname_attribute: lastname_attribute
            group_attribute: group_attribute
            email_attribute: email_attribute
          audience: audience
          idp_initiated_sso_enabled: true
          sp_initiated_sso_enabled: true
          use_composer_acs_url: true
          require_encrypted_saml_assertions: true
          issuer: issuer
        arc_namespace: arc_namespace
        provider_id: provider_id
        service_provider:
          urls:
            sign_on: sign_on
            sign_out: sign_out
        type:
          name: saml
          description: description
      properties:
        name:
          type: string
        org_id:
          type: string
        saml:
          $ref: '#/components/schemas/samlProviderPostBody_saml'
        service_provider:
          $ref: '#/components/schemas/samlProviderPostBody_service_provider'
        login_disabled:
          type: boolean
        arc_namespace:
          type: string
        provider_id:
          type: string
        type:
          $ref: '#/components/schemas/samlProviderPostBody_type'
      required:
      - name
      - org_id
      - provider_id
      - saml
      - service_provider
      - type
      type: object
    ldapProviderGet:
      additionalProperties: false
      properties:
        user_mapping:
          $ref: '#/components/schemas/ldapProviderPostBody_user_mapping'
        filters:
          $ref: '#/components/schemas/ldapProviderPostBody_filters'
        name:
          type: string
        org_id:
          type: string
        dns:
          $ref: '#/components/schemas/ldapProviderPostBody_search_bases'
        group_mapping:
          $ref: '#/components/schemas/ldapProviderPostBody_group_mapping'
        connection:
          $ref: '#/components/schemas/ldapProviderPostBody_connection'
        arc_namespace:
          type: string
        provider_id:
          type: string
        type:
          $ref: '#/components/schemas/ldapProviderPostBody_type'
        search_bases:
          $ref: '#/components/schemas/ldapProviderPostBody_search_bases'
      required:
      - connection
      - dns
      - filters
      - group_mapping
      - name
      - org_id
      - provider_id
      - search_bases
      - type
      - user_mapping
      type: object
    openIDProviderGet:
      additionalProperties: false
      properties:
        oidc_provider:
          $ref: '#/components/schemas/openIDProviderGet_oidc_provider'
        name:
          type: string
        org_id:
          type: string
        service_provider:
          $ref: '#/components/schemas/openIDProviderGet_service_provider'
        login_disabled:
          type: boolean
        allow_untrusted_certificates:
          type: boolean
        type:
          $ref: '#/components/schemas/openIDProviderManualPostBody_type'
        provider_id:
          type: string
        arc_namespace:
          type: string
      required:
      - allow_untrusted_certificates
      - name
      - oidc_provider
      - org_id
      - provider_id
      - service_provider
      - type
      type: object
    idpSummary:
      additionalProperties: false
      example:
        org_id: org_id
        name: name
        provider_id: provider_id
        type:
          name: ldap
          description: description
      properties:
        provider_id:
          type: string
        org_id:
          type: string
        name:
          type: string
        type:
          $ref: '#/components/schemas/idpSummary_type'
      required:
      - name
      - org_id
      - provider_id
      - type
      type: object
    _organizations__orgId__identityProviders_get_200_response:
      example:
        total: 0
        data:
        - org_id: org_id
          name: name
          provider_id: provider_id
          type:
            name: ldap
            description: description
        - org_id: org_id
          name: name
          provider_id: provider_id
          type:
            name: ldap
            description: description
      properties:
        data:
          items:
            $ref: '#/components/schemas/idpSummary'
          title: List of envs
          type: array
        total:
          title: Total number of results
          type: integer
      type: object
    _organizations__orgId__identityProviders__idpId__patch_400_response_errors_inner:
      example:
        schemas: schemas
        type: type
        keyword: keyword
        message: A sample message here
      properties:
        type:
          type: string
        keyword:
          type: string
        schemas:
          type: string
        message:
          example: A sample message here
          title: the error message
          type: string
    _organizations__orgId__identityProviders__idpId__patch_400_response:
      example:
        errors:
        - schemas: schemas
          type: type
          keyword: keyword
          message: A sample message here
        - schemas: schemas
          type: type
          keyword: keyword
          message: A sample message here
      properties:
        errors:
          items:
            $ref: '#/components/schemas/_organizations__orgId__identityProviders__idpId__patch_400_response_errors_inner'
          type: array
      type: object
    samlProviderPostBody_type:
      additionalProperties: false
      example:
        name: saml
        description: description
      properties:
        description:
          type: string
        name:
          enum:
          - saml
          type: string
      required:
      - name
      type: object
    samlProviderPostBody_service_provider_urls:
      additionalProperties: false
      example:
        sign_on: sign_on
        sign_out: sign_out
      properties:
        sign_on:
          type: string
        sign_out:
          type: string
      required:
      - sign_on
      - sign_out
      type: object
    samlProviderPostBody_service_provider:
      additionalProperties: false
      example:
        urls:
          sign_on: sign_on
          sign_out: sign_out
      properties:
        urls:
          $ref: '#/components/schemas/samlProviderPostBody_service_provider_urls'
      required:
      - urls
      type: object
    samlProviderPostBody_saml_claims_mapping:
      additionalProperties: false
      example:
        firstname_attribute: firstname_attribute
        username_attribute: username_attribute
        lastname_attribute: lastname_attribute
        group_attribute: group_attribute
        email_attribute: email_attribute
      properties:
        username_attribute:
          type: string
        firstname_attribute:
          type: string
        lastname_attribute:
          type: string
        email_attribute:
          type: string
        group_attribute:
          type: string
      type: object
    samlProviderPostBody_saml:
      additionalProperties: false
      example:
        public_key:
        - public_key
        - public_key
        claims_mapping:
          firstname_attribute: firstname_attribute
          username_attribute: username_attribute
          lastname_attribute: lastname_attribute
          group_attribute: group_attribute
          email_attribute: email_attribute
        audience: audience
        idp_initiated_sso_enabled: true
        sp_initiated_sso_enabled: true
        use_composer_acs_url: true
        require_encrypted_saml_assertions: true
        issuer: issuer
      properties:
        audience:
          type: string
        issuer:
          type: string
        public_key:
          items:
            type: string
          maxItems: 2
          minItems: 1
          type: array
        claims_mapping:
          $ref: '#/components/schemas/samlProviderPostBody_saml_claims_mapping'
        idp_initiated_sso_enabled:
          type: boolean
        sp_initiated_sso_enabled:
          type: boolean
        use_composer_acs_url:
          type: boolean
        require_encrypted_saml_assertions:
          type: boolean
      required:
      - audience
      - issuer
      - public_key
      type: object
    ldapProviderPostBody_type:
      additionalProperties: false
      properties:
        description:
          type: string
        name:
          enum:
          - ldap
          type: string
      required:
      - name
      type: object
    ldapProviderPostBody_connection:
      additionalProperties: false
      properties:
        binddn:
          type: string
        connectTimeoutSeconds:
          type: number
        host:
          type: string
        operationTimeoutMs:
          type: number
        password:
          type: string
        port:
          type: number
        validatecert:
          type: boolean
      required:
      - binddn
      - connectTimeoutSeconds
      - host
      - operationTimeoutMs
      - password
      - port
      type: object
    ldapProviderPostBody_search_bases:
      additionalProperties: false
      properties:
        group:
          type: string
        user:
          type: string
      required:
      - group
      - user
      type: object
    ldapProviderPostBody_filters:
      additionalProperties: false
      properties:
        groupsByUsername:
          type: string
        userByUsername:
          type: string
      required:
      - groupsByUsername
      - userByUsername
      type: object
    ldapProviderPostBody_user_mapping:
      additionalProperties: false
      properties:
        email:
          type: string
        firstName:
          type: string
        id:
          type: string
        lastName:
          type: string
        username:
          type: string
      required:
      - email
      - firstName
      - id
      - lastName
      - username
      type: object
    ldapProviderPostBody_group_mapping:
      additionalProperties: false
      properties:
        groupName:
          type: string
        id:
          type: string
      required:
      - groupName
      - id
      type: object
    openIDProviderManualPostBody_type:
      additionalProperties: false
      properties:
        description:
          type: string
        name:
          enum:
          - openid
          type: string
      required:
      - name
      type: object
    openIDProviderManualPostBody_oidc_provider_client_credentials:
      additionalProperties: false
      properties:
        id:
          type: string
        secret:
          type: string
      required:
      - id
      - secret
      type: object
    openIDProviderManualPostBody_oidc_provider_client:
      additionalProperties: false
      properties:
        credentials:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider_client_credentials'
      required:
      - credentials
      type: object
    openIDProviderManualPostBody_oidc_provider_urls:
      additionalProperties: false
      properties:
        authorize:
          type: string
        token:
          type: string
        userinfo:
          type: string
      required:
      - authorize
      - token
      - userinfo
      type: object
    openIDProviderManualPostBody_oidc_provider_claims_mapping:
      additionalProperties: false
      properties:
        group_expression:
          type: string
      type: object
    openIDProviderManualPostBody_oidc_provider:
      additionalProperties: false
      properties:
        client:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider_client'
        issuer:
          type: string
        urls:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider_urls'
        group_scope:
          type: string
        claims_mapping:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider_claims_mapping'
      required:
      - client
      - urls
      type: object
    openIDProviderDynamicPostBody_oidc_provider_client_urls:
      additionalProperties: false
      properties:
        register:
          type: string
      required:
      - register
      type: object
    openIDProviderDynamicPostBody_oidc_provider_client_registration:
      additionalProperties: false
      properties:
        authorization:
          type: string
      required:
      - authorization
      type: object
    openIDProviderDynamicPostBody_oidc_provider_client_metadata:
      additionalProperties: false
      properties:
        name:
          type: string
      type: object
    openIDProviderDynamicPostBody_oidc_provider_client:
      additionalProperties: false
      properties:
        urls:
          $ref: '#/components/schemas/openIDProviderDynamicPostBody_oidc_provider_client_urls'
        registration:
          $ref: '#/components/schemas/openIDProviderDynamicPostBody_oidc_provider_client_registration'
        metadata:
          $ref: '#/components/schemas/openIDProviderDynamicPostBody_oidc_provider_client_metadata'
      required:
      - urls
      type: object
    openIDProviderDynamicPostBody_oidc_provider:
      additionalProperties: false
      properties:
        client:
          $ref: '#/components/schemas/openIDProviderDynamicPostBody_oidc_provider_client'
        issuer:
          type: string
        urls:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider_urls'
        group_scope:
          type: string
        claims_mapping:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider_claims_mapping'
      required:
      - client
      - urls
      type: object
    samlProviderPatch_type:
      additionalProperties: false
      properties:
        description:
          type: string
      type: object
    samlProviderPatch_service_provider_urls:
      additionalProperties: false
      properties:
        sign_on:
          type: string
        sign_out:
          type: string
      type: object
    samlProviderPatch_service_provider:
      additionalProperties: false
      properties:
        urls:
          $ref: '#/components/schemas/samlProviderPatch_service_provider_urls'
      type: object
    samlProviderPatch_saml:
      additionalProperties: false
      properties:
        audience:
          type: string
        issuer:
          type: string
        public_key:
          items:
            type: string
          maxItems: 2
          minItems: 1
          type: array
        claims_mapping:
          $ref: '#/components/schemas/samlProviderPostBody_saml_claims_mapping'
        idp_initiated_sso_enabled:
          type: boolean
        sp_initiated_sso_enabled:
          type: boolean
        use_composer_acs_url:
          type: boolean
        require_encrypted_saml_assertions:
          type: boolean
      type: object
    ldapProviderPatch_connection:
      additionalProperties: false
      properties:
        binddn:
          type: string
        connectTimeoutSeconds:
          type: number
        host:
          type: string
        operationTimeoutMs:
          type: number
        password:
          type: string
        port:
          type: number
        validatecert:
          type: boolean
      type: object
    ldapProviderPatch_search_bases:
      additionalProperties: false
      properties:
        group:
          type: string
        user:
          type: string
      type: object
    ldapProviderPatch_filters:
      additionalProperties: false
      properties:
        groupsByUsername:
          type: string
        userByUsername:
          type: string
      type: object
    ldapProviderPatch_user_mapping:
      additionalProperties: false
      properties:
        email:
          type: string
        firstName:
          type: string
        id:
          type: string
        lastName:
          type: string
        username:
          type: string
      type: object
    ldapProviderPatch_group_mapping:
      additionalProperties: false
      properties:
        groupName:
          type: string
        id:
          type: string
      type: object
    openIDProviderPatch_oidc_provider_client_credentials:
      additionalProperties: false
      properties:
        id:
          type: string
        secret:
          type: string
      type: object
    openIDProviderPatch_oidc_provider_client_urls:
      additionalProperties: false
      properties:
        register:
          type: string
      type: object
    openIDProviderPatch_oidc_provider_client_registration:
      additionalProperties: false
      properties:
        authorization:
          type: string
      type: object
    openIDProviderPatch_oidc_provider_client:
      additionalProperties: false
      properties:
        credentials:
          $ref: '#/components/schemas/openIDProviderPatch_oidc_provider_client_credentials'
        urls:
          $ref: '#/components/schemas/openIDProviderPatch_oidc_provider_client_urls'
        registration:
          $ref: '#/components/schemas/openIDProviderPatch_oidc_provider_client_registration'
        metadata:
          $ref: '#/components/schemas/openIDProviderDynamicPostBody_oidc_provider_client_metadata'
      type: object
    openIDProviderPatch_oidc_provider_urls:
      additionalProperties: false
      properties:
        authorize:
          type: string
        token:
          type: string
        userinfo:
          type: string
      type: object
    openIDProviderPatch_oidc_provider:
      additionalProperties: false
      properties:
        client:
          $ref: '#/components/schemas/openIDProviderPatch_oidc_provider_client'
        issuer:
          type: string
        urls:
          $ref: '#/components/schemas/openIDProviderPatch_oidc_provider_urls'
        group_scope:
          type: string
        claims_mapping:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider_claims_mapping'
      type: object
    openIDProviderGet_oidc_provider_client_credentials:
      additionalProperties: false
      properties:
        id:
          type: string
        secret:
          type: string
      required:
      - id
      type: object
    openIDProviderGet_oidc_provider_client:
      additionalProperties: false
      properties:
        credentials:
          $ref: '#/components/schemas/openIDProviderGet_oidc_provider_client_credentials'
        urls:
          $ref: '#/components/schemas/openIDProviderDynamicPostBody_oidc_provider_client_urls'
        registration:
          $ref: '#/components/schemas/openIDProviderPatch_oidc_provider_client_registration'
        metadata:
          $ref: '#/components/schemas/openIDProviderDynamicPostBody_oidc_provider_client_metadata'
        token_endpoint_auth_methods_supported:
          items:
            type: string
          type: array
      required:
      - credentials
      type: object
    openIDProviderGet_oidc_provider_urls:
      additionalProperties: false
      properties:
        authorize:
          type: string
        redirect:
          type: string
        token:
          type: string
        userinfo:
          type: string
      required:
      - authorize
      - redirect
      - token
      - userinfo
      type: object
    openIDProviderGet_oidc_provider:
      additionalProperties: false
      properties:
        client:
          $ref: '#/components/schemas/openIDProviderGet_oidc_provider_client'
        issuer:
          type: string
        urls:
          $ref: '#/components/schemas/openIDProviderGet_oidc_provider_urls'
        group_scope:
          type: string
        claims_mapping:
          $ref: '#/components/schemas/openIDProviderManualPostBody_oidc_provider_claims_mapping'
      required:
      - client
      - issuer
      - urls
      type: object
    openIDProviderGet_service_provider_urls:
      additionalProperties: false
      properties:
        sign_on:
          type: string
      required:
      - sign_on
      type: object
    openIDProviderGet_service_provider:
      additionalProperties: false
      properties:
        urls:
          $ref: '#/components/schemas/openIDProviderGet_service_provider_urls'
      required:
      - urls
      type: object
    idpSummary_type:
      additionalProperties: false
      example:
        name: ldap
        description: description
      properties:
        description:
          type: string
        name:
          enum:
          - ldap
          - openid
          - saml
          type: string
      required:
      - name
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
