/*
API Manager Policy API

API Manager Policy API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apim_policy

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type DefaultAPIDeleteApimPolicyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
	apiPolicyId string
}

func (r DefaultAPIDeleteApimPolicyRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteApimPolicyExecute(r)
}

/*
DeleteApimPolicy Delete a specific api manager instance policy.

Delete a specific api manager instance policy in a given organization and environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment Id
 @param apiId The api manager instance Id
 @param apiPolicyId The api manager instance policy Id
 @return DefaultAPIDeleteApimPolicyRequest
*/
func (a *DefaultAPIService) DeleteApimPolicy(ctx context.Context, orgId string, envId string, apiId string, apiPolicyId string) DefaultAPIDeleteApimPolicyRequest {
	return DefaultAPIDeleteApimPolicyRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
		apiPolicyId: apiPolicyId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) DeleteApimPolicyExecute(r DefaultAPIDeleteApimPolicyRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.DeleteApimPolicy")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/policies/{apiPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiPolicyId"+"}", url.PathEscape(parameterValueToString(r.apiPolicyId, "apiPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIDisableApimPolicyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
	apiPolicyId string
}

func (r DefaultAPIDisableApimPolicyRequest) Execute() (*ApimPolicy, *http.Response, error) {
	return r.ApiService.DisableApimPolicyExecute(r)
}

/*
DisableApimPolicy Disable a specific api manager instance policy.

Disable a specific api manager instance policy in a given organization and environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment Id
 @param apiId The api manager instance Id
 @param apiPolicyId The api manager instance policy Id
 @return DefaultAPIDisableApimPolicyRequest
*/
func (a *DefaultAPIService) DisableApimPolicy(ctx context.Context, orgId string, envId string, apiId string, apiPolicyId string) DefaultAPIDisableApimPolicyRequest {
	return DefaultAPIDisableApimPolicyRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
		apiPolicyId: apiPolicyId,
	}
}

// Execute executes the request
//  @return ApimPolicy
func (a *DefaultAPIService) DisableApimPolicyExecute(r DefaultAPIDisableApimPolicyRequest) (*ApimPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.DisableApimPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/xapi/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/policies/{apiPolicyId}/disable"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiPolicyId"+"}", url.PathEscape(parameterValueToString(r.apiPolicyId, "apiPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIEnableApimPolicyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
	apiPolicyId string
}

func (r DefaultAPIEnableApimPolicyRequest) Execute() (*ApimPolicy, *http.Response, error) {
	return r.ApiService.EnableApimPolicyExecute(r)
}

/*
EnableApimPolicy Enable a specific api manager instance policy.

Enable a specific api manager instance policy in a given organization and environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment Id
 @param apiId The api manager instance Id
 @param apiPolicyId The api manager instance policy Id
 @return DefaultAPIEnableApimPolicyRequest
*/
func (a *DefaultAPIService) EnableApimPolicy(ctx context.Context, orgId string, envId string, apiId string, apiPolicyId string) DefaultAPIEnableApimPolicyRequest {
	return DefaultAPIEnableApimPolicyRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
		apiPolicyId: apiPolicyId,
	}
}

// Execute executes the request
//  @return ApimPolicy
func (a *DefaultAPIService) EnableApimPolicyExecute(r DefaultAPIEnableApimPolicyRequest) (*ApimPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.EnableApimPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/xapi/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/policies/{apiPolicyId}/enable"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiPolicyId"+"}", url.PathEscape(parameterValueToString(r.apiPolicyId, "apiPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetApimPoliciesRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
	fullInfo *bool
}

func (r DefaultAPIGetApimPoliciesRequest) FullInfo(fullInfo bool) DefaultAPIGetApimPoliciesRequest {
	r.fullInfo = &fullInfo
	return r
}

func (r DefaultAPIGetApimPoliciesRequest) Execute() (*ApimPolicyCollection, *http.Response, error) {
	return r.ApiService.GetApimPoliciesExecute(r)
}

/*
GetApimPolicies Retrieve all of api manager instance policies.

Retrieve all of api manager instance policies in a given organization and environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment Id
 @param apiId The api manager instance Id
 @return DefaultAPIGetApimPoliciesRequest
*/
func (a *DefaultAPIService) GetApimPolicies(ctx context.Context, orgId string, envId string, apiId string) DefaultAPIGetApimPoliciesRequest {
	return DefaultAPIGetApimPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
	}
}

// Execute executes the request
//  @return ApimPolicyCollection
func (a *DefaultAPIService) GetApimPoliciesExecute(r DefaultAPIGetApimPoliciesRequest) (*ApimPolicyCollection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimPolicyCollection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetApimPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/policies"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fullInfo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fullInfo", r.fullInfo, "form", "")
	} else {
		var defaultValue bool = false
		r.fullInfo = &defaultValue
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetApimPolicyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
	apiPolicyId string
}

func (r DefaultAPIGetApimPolicyRequest) Execute() (*ApimPolicy, *http.Response, error) {
	return r.ApiService.GetApimPolicyExecute(r)
}

/*
GetApimPolicy Retrieve a specific api manager instance policy.

Retrieve a specific api manager instance policy in a given organization and environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment Id
 @param apiId The api manager instance Id
 @param apiPolicyId The api manager instance policy Id
 @return DefaultAPIGetApimPolicyRequest
*/
func (a *DefaultAPIService) GetApimPolicy(ctx context.Context, orgId string, envId string, apiId string, apiPolicyId string) DefaultAPIGetApimPolicyRequest {
	return DefaultAPIGetApimPolicyRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
		apiPolicyId: apiPolicyId,
	}
}

// Execute executes the request
//  @return ApimPolicy
func (a *DefaultAPIService) GetApimPolicyExecute(r DefaultAPIGetApimPolicyRequest) (*ApimPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetApimPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/policies/{apiPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiPolicyId"+"}", url.PathEscape(parameterValueToString(r.apiPolicyId, "apiPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetOrgAutomatedPoliciesRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	environmentId *string
}

// A environment id
func (r DefaultAPIGetOrgAutomatedPoliciesRequest) EnvironmentId(environmentId string) DefaultAPIGetOrgAutomatedPoliciesRequest {
	r.environmentId = &environmentId
	return r
}

func (r DefaultAPIGetOrgAutomatedPoliciesRequest) Execute() (*AutomatedPolicyCollection, *http.Response, error) {
	return r.ApiService.GetOrgAutomatedPoliciesExecute(r)
}

/*
GetOrgAutomatedPolicies Retrieve all automated policies of a given organization

Retrieves all automated policies of a given organization and optionally environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @return DefaultAPIGetOrgAutomatedPoliciesRequest
*/
func (a *DefaultAPIService) GetOrgAutomatedPolicies(ctx context.Context, orgId string) DefaultAPIGetOrgAutomatedPoliciesRequest {
	return DefaultAPIGetOrgAutomatedPoliciesRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return AutomatedPolicyCollection
func (a *DefaultAPIService) GetOrgAutomatedPoliciesExecute(r DefaultAPIGetOrgAutomatedPoliciesRequest) (*AutomatedPolicyCollection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AutomatedPolicyCollection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetOrgAutomatedPolicies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/automated-policies"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.environmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environmentId", r.environmentId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetOrgCustomPolicyTemplatesRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	query *string
	offset *int32
	ascending *bool
	sort *string
	limit *int32
}

// Search criteria.
func (r DefaultAPIGetOrgCustomPolicyTemplatesRequest) Query(query string) DefaultAPIGetOrgCustomPolicyTemplatesRequest {
	r.query = &query
	return r
}

// Skip over a number of elements by specifying an offset value for the query.
func (r DefaultAPIGetOrgCustomPolicyTemplatesRequest) Offset(offset int32) DefaultAPIGetOrgCustomPolicyTemplatesRequest {
	r.offset = &offset
	return r
}

// Order for sorting.
func (r DefaultAPIGetOrgCustomPolicyTemplatesRequest) Ascending(ascending bool) DefaultAPIGetOrgCustomPolicyTemplatesRequest {
	r.ascending = &ascending
	return r
}

// Property to sort by.
func (r DefaultAPIGetOrgCustomPolicyTemplatesRequest) Sort(sort string) DefaultAPIGetOrgCustomPolicyTemplatesRequest {
	r.sort = &sort
	return r
}

// Limit the number of elements on the response.
func (r DefaultAPIGetOrgCustomPolicyTemplatesRequest) Limit(limit int32) DefaultAPIGetOrgCustomPolicyTemplatesRequest {
	r.limit = &limit
	return r
}

func (r DefaultAPIGetOrgCustomPolicyTemplatesRequest) Execute() (*http.Response, error) {
	return r.ApiService.GetOrgCustomPolicyTemplatesExecute(r)
}

/*
GetOrgCustomPolicyTemplates Retrieve all or part of custom policy templates of a given organization

Retrieves all or part of custom policy templates of a given organization.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @return DefaultAPIGetOrgCustomPolicyTemplatesRequest
*/
func (a *DefaultAPIService) GetOrgCustomPolicyTemplates(ctx context.Context, orgId string) DefaultAPIGetOrgCustomPolicyTemplatesRequest {
	return DefaultAPIGetOrgCustomPolicyTemplatesRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) GetOrgCustomPolicyTemplatesExecute(r DefaultAPIGetOrgCustomPolicyTemplatesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetOrgCustomPolicyTemplates")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/custom-policy-templates"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.ascending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ascending", r.ascending, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	groupId string
	assetId string
	assetVersion string
	includeAllVersions *bool
	splitModel *bool
	apiInstanceId *string
}

// Whether to include all versions of the asset.
func (r DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest) IncludeAllVersions(includeAllVersions bool) DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest {
	r.includeAllVersions = &includeAllVersions
	return r
}

// Whether to include asset split model.
func (r DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest) SplitModel(splitModel bool) DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest {
	r.splitModel = &splitModel
	return r
}

// Filter applicability against a specific api instance id.
func (r DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest) ApiInstanceId(apiInstanceId string) DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest {
	r.apiInstanceId = &apiInstanceId
	return r
}

func (r DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest) Execute() (*ExchangePolicyTemplate, *http.Response, error) {
	return r.ApiService.GetOrgExchangePolicyTemplateDetailsExecute(r)
}

/*
GetOrgExchangePolicyTemplateDetails Retrieve details of exchange policy template of a given organization

Retrieve details of exchange policy template of a given organization.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param groupId The group Id
 @param assetId The asset Id
 @param assetVersion The asset version
 @return DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest
*/
func (a *DefaultAPIService) GetOrgExchangePolicyTemplateDetails(ctx context.Context, orgId string, groupId string, assetId string, assetVersion string) DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest {
	return DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		groupId: groupId,
		assetId: assetId,
		assetVersion: assetVersion,
	}
}

// Execute executes the request
//  @return ExchangePolicyTemplate
func (a *DefaultAPIService) GetOrgExchangePolicyTemplateDetailsExecute(r DefaultAPIGetOrgExchangePolicyTemplateDetailsRequest) (*ExchangePolicyTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ExchangePolicyTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetOrgExchangePolicyTemplateDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/xapi/v1/organizations/{orgId}/exchange-policy-templates/{groupId}/{assetId}/{assetVersion}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"groupId"+"}", url.PathEscape(parameterValueToString(r.groupId, "groupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"assetId"+"}", url.PathEscape(parameterValueToString(r.assetId, "assetId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"assetVersion"+"}", url.PathEscape(parameterValueToString(r.assetVersion, "assetVersion")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeAllVersions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeAllVersions", r.includeAllVersions, "form", "")
	}
	if r.splitModel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "splitModel", r.splitModel, "form", "")
	}
	if r.apiInstanceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "apiInstanceId", r.apiInstanceId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetOrgExchangePolicyTemplatesRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	environmentId *string
	splitModel *bool
	latest *bool
	apiInstanceId *string
	includeConfiguration *bool
	automatedOnly *bool
	injectionPoint *string
}

// The environment id.
func (r DefaultAPIGetOrgExchangePolicyTemplatesRequest) EnvironmentId(environmentId string) DefaultAPIGetOrgExchangePolicyTemplatesRequest {
	r.environmentId = &environmentId
	return r
}

// Whether to include asset split model.
func (r DefaultAPIGetOrgExchangePolicyTemplatesRequest) SplitModel(splitModel bool) DefaultAPIGetOrgExchangePolicyTemplatesRequest {
	r.splitModel = &splitModel
	return r
}

// include only latest versions.
func (r DefaultAPIGetOrgExchangePolicyTemplatesRequest) Latest(latest bool) DefaultAPIGetOrgExchangePolicyTemplatesRequest {
	r.latest = &latest
	return r
}

// include only templates used for api instance id.
func (r DefaultAPIGetOrgExchangePolicyTemplatesRequest) ApiInstanceId(apiInstanceId string) DefaultAPIGetOrgExchangePolicyTemplatesRequest {
	r.apiInstanceId = &apiInstanceId
	return r
}

// whether to include configuration.
func (r DefaultAPIGetOrgExchangePolicyTemplatesRequest) IncludeConfiguration(includeConfiguration bool) DefaultAPIGetOrgExchangePolicyTemplatesRequest {
	r.includeConfiguration = &includeConfiguration
	return r
}

// whether to include automated policies only.
func (r DefaultAPIGetOrgExchangePolicyTemplatesRequest) AutomatedOnly(automatedOnly bool) DefaultAPIGetOrgExchangePolicyTemplatesRequest {
	r.automatedOnly = &automatedOnly
	return r
}

// Filter by policy injection point.
func (r DefaultAPIGetOrgExchangePolicyTemplatesRequest) InjectionPoint(injectionPoint string) DefaultAPIGetOrgExchangePolicyTemplatesRequest {
	r.injectionPoint = &injectionPoint
	return r
}

func (r DefaultAPIGetOrgExchangePolicyTemplatesRequest) Execute() ([]ExchangePolicyTemplate, *http.Response, error) {
	return r.ApiService.GetOrgExchangePolicyTemplatesExecute(r)
}

/*
GetOrgExchangePolicyTemplates Retrieve all or part of exchange policy templates of a given organization

Retrieves all or part of exchange policy templates of a given organization.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @return DefaultAPIGetOrgExchangePolicyTemplatesRequest
*/
func (a *DefaultAPIService) GetOrgExchangePolicyTemplates(ctx context.Context, orgId string) DefaultAPIGetOrgExchangePolicyTemplatesRequest {
	return DefaultAPIGetOrgExchangePolicyTemplatesRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return []ExchangePolicyTemplate
func (a *DefaultAPIService) GetOrgExchangePolicyTemplatesExecute(r DefaultAPIGetOrgExchangePolicyTemplatesRequest) ([]ExchangePolicyTemplate, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ExchangePolicyTemplate
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetOrgExchangePolicyTemplates")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/xapi/v1/organizations/{orgId}/exchange-policy-templates"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.environmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "environmentId", r.environmentId, "form", "")
	}
	if r.splitModel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "splitModel", r.splitModel, "form", "")
	}
	if r.latest != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "latest", r.latest, "form", "")
	}
	if r.apiInstanceId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "apiInstanceId", r.apiInstanceId, "form", "")
	}
	if r.includeConfiguration != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeConfiguration", r.includeConfiguration, "form", "")
	}
	if r.automatedOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "automatedOnly", r.automatedOnly, "form", "")
	}
	if r.injectionPoint != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "injectionPoint", r.injectionPoint, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIPatchApimPolicyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
	apiPolicyId string
	body *map[string]interface{}
}

// policy content
func (r DefaultAPIPatchApimPolicyRequest) Body(body map[string]interface{}) DefaultAPIPatchApimPolicyRequest {
	r.body = &body
	return r
}

func (r DefaultAPIPatchApimPolicyRequest) Execute() (*ApimPolicy, *http.Response, error) {
	return r.ApiService.PatchApimPolicyExecute(r)
}

/*
PatchApimPolicy Update a specific api manager instance policy.

Update a specific api manager instance policy in a given organization and environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment Id
 @param apiId The api manager instance Id
 @param apiPolicyId The api manager instance policy Id
 @return DefaultAPIPatchApimPolicyRequest
*/
func (a *DefaultAPIService) PatchApimPolicy(ctx context.Context, orgId string, envId string, apiId string, apiPolicyId string) DefaultAPIPatchApimPolicyRequest {
	return DefaultAPIPatchApimPolicyRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
		apiPolicyId: apiPolicyId,
	}
}

// Execute executes the request
//  @return ApimPolicy
func (a *DefaultAPIService) PatchApimPolicyExecute(r DefaultAPIPatchApimPolicyRequest) (*ApimPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.PatchApimPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/policies/{apiPolicyId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiPolicyId"+"}", url.PathEscape(parameterValueToString(r.apiPolicyId, "apiPolicyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIPostApimOutboundPolicyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
	apimOutboundPolicyBody *ApimOutboundPolicyBody
}

// outbound policy content
func (r DefaultAPIPostApimOutboundPolicyRequest) ApimOutboundPolicyBody(apimOutboundPolicyBody ApimOutboundPolicyBody) DefaultAPIPostApimOutboundPolicyRequest {
	r.apimOutboundPolicyBody = &apimOutboundPolicyBody
	return r
}

func (r DefaultAPIPostApimOutboundPolicyRequest) Execute() ([]ApimPolicy, *http.Response, error) {
	return r.ApiService.PostApimOutboundPolicyExecute(r)
}

/*
PostApimOutboundPolicy Create an api manager instance outbound policy.

Create an api manager instance outbound policy in a given organization and environment. The request body must include `upstreamIds` (one or more existing upstream ids). The API creates one policy record per upstream id and returns the array of created policy records. Read/Update/Delete/Enable/Disable use the singular policy endpoints (`PatchApimPolicy` / `DeleteApimPolicy` / `EnableApimPolicy` / `DisableApimPolicy`) with the integer `id` returned here.


 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment Id
 @param apiId The api manager instance Id
 @return DefaultAPIPostApimOutboundPolicyRequest
*/
func (a *DefaultAPIService) PostApimOutboundPolicy(ctx context.Context, orgId string, envId string, apiId string) DefaultAPIPostApimOutboundPolicyRequest {
	return DefaultAPIPostApimOutboundPolicyRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
	}
}

// Execute executes the request
//  @return []ApimPolicy
func (a *DefaultAPIService) PostApimOutboundPolicyExecute(r DefaultAPIPostApimOutboundPolicyRequest) ([]ApimPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ApimPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.PostApimOutboundPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/xapi/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/policies/outbound-policies"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apimOutboundPolicyBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIPostApimPolicyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
	apimPolicyBody *ApimPolicyBody
}

// policy content
func (r DefaultAPIPostApimPolicyRequest) ApimPolicyBody(apimPolicyBody ApimPolicyBody) DefaultAPIPostApimPolicyRequest {
	r.apimPolicyBody = &apimPolicyBody
	return r
}

func (r DefaultAPIPostApimPolicyRequest) Execute() (*ApimPolicy, *http.Response, error) {
	return r.ApiService.PostApimPolicyExecute(r)
}

/*
PostApimPolicy Create an api manager instance policy.

Create an api manager instance policy in a given organization and environment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment Id
 @param apiId The api manager instance Id
 @return DefaultAPIPostApimPolicyRequest
*/
func (a *DefaultAPIService) PostApimPolicy(ctx context.Context, orgId string, envId string, apiId string) DefaultAPIPostApimPolicyRequest {
	return DefaultAPIPostApimPolicyRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
	}
}

// Execute executes the request
//  @return ApimPolicy
func (a *DefaultAPIService) PostApimPolicyExecute(r DefaultAPIPostApimPolicyRequest) (*ApimPolicy, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimPolicy
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.PostApimPolicy")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/policies"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apimPolicyBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetOrgAutomatedPolicies404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
