/*
Team API

Description of the Team API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package team

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DefaultApiService DefaultApi service
type DefaultApiService service

type DefaultApiOrganizationsOrgIdTeamsGetRequest struct {
	ctx context.Context
	ApiService *DefaultApiService
	orgId string
	ancestorTeamId *[]string
	parentTeamId *[]string
	teamId *string
	teamType *string
	search *string
	limit *int32
	offset *int32
	sort *string
	ascending *bool
}

// team_id that must appear in the team&#39;s ancestor_team_ids.
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) AncestorTeamId(ancestorTeamId []string) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.ancestorTeamId = &ancestorTeamId
	return r
}

// team_id of the immediate parent of the team to return.
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) ParentTeamId(parentTeamId []string) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.parentTeamId = &parentTeamId
	return r
}

// id of the team to return.
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) TeamId(teamId string) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.teamId = &teamId
	return r
}

// return only teams that are of this type
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) TeamType(teamType string) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.teamType = &teamType
	return r
}

// A search string to use for case-insensitive partial matches on team name
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) Search(search string) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.search = &search
	return r
}

// Maximum number of rolegroups to retrieve per request.
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) Limit(limit int32) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.limit = &limit
	return r
}

// The number of records to omit from the response.
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) Offset(offset int32) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.offset = &offset
	return r
}

// The field to sort on. default team_name
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) Sort(sort string) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.sort = &sort
	return r
}

// Whether to sort ascending or descending. Default true
func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) Ascending(ascending bool) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	r.ascending = &ascending
	return r
}

func (r DefaultApiOrganizationsOrgIdTeamsGetRequest) Execute() (*TeamCollection, *http.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsGetExecute(r)
}

/*
OrganizationsOrgIdTeamsGet Method for OrganizationsOrgIdTeamsGet

Returns teams.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @return DefaultApiOrganizationsOrgIdTeamsGetRequest
*/
func (a *DefaultApiService) OrganizationsOrgIdTeamsGet(ctx context.Context, orgId string) DefaultApiOrganizationsOrgIdTeamsGetRequest {
	return DefaultApiOrganizationsOrgIdTeamsGetRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return TeamCollection
func (a *DefaultApiService) OrganizationsOrgIdTeamsGetExecute(r DefaultApiOrganizationsOrgIdTeamsGetRequest) (*TeamCollection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TeamCollection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ancestorTeamId != nil {
		t := *r.ancestorTeamId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ancestor_team_id", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ancestor_team_id", t, "multi")
		}
	}
	if r.parentTeamId != nil {
		t := *r.parentTeamId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "parent_team_id", s.Index(i), "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "parent_team_id", t, "multi")
		}
	}
	if r.teamId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "team_id", r.teamId, "")
	}
	if r.teamType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "team_type", r.teamType, "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "")
	}
	if r.ascending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ascending", r.ascending, "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultApiOrganizationsOrgIdTeamsPostRequest struct {
	ctx context.Context
	ApiService *DefaultApiService
	orgId string
	teamPostBody *TeamPostBody
}

func (r DefaultApiOrganizationsOrgIdTeamsPostRequest) TeamPostBody(teamPostBody TeamPostBody) DefaultApiOrganizationsOrgIdTeamsPostRequest {
	r.teamPostBody = &teamPostBody
	return r
}

func (r DefaultApiOrganizationsOrgIdTeamsPostRequest) Execute() (*Team, *http.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsPostExecute(r)
}

/*
OrganizationsOrgIdTeamsPost Method for OrganizationsOrgIdTeamsPost

Creates a new team

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @return DefaultApiOrganizationsOrgIdTeamsPostRequest
*/
func (a *DefaultApiService) OrganizationsOrgIdTeamsPost(ctx context.Context, orgId string) DefaultApiOrganizationsOrgIdTeamsPostRequest {
	return DefaultApiOrganizationsOrgIdTeamsPostRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return Team
func (a *DefaultApiService) OrganizationsOrgIdTeamsPostExecute(r DefaultApiOrganizationsOrgIdTeamsPostRequest) (*Team, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Team
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamPostBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultApiOrganizationsOrgIdTeamsTeamIdDeleteRequest struct {
	ctx context.Context
	ApiService *DefaultApiService
	orgId string
	teamId string
}

func (r DefaultApiOrganizationsOrgIdTeamsTeamIdDeleteRequest) Execute() (*http.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsTeamIdDeleteExecute(r)
}

/*
OrganizationsOrgIdTeamsTeamIdDelete Method for OrganizationsOrgIdTeamsTeamIdDelete

delete a team

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @param teamId The ID of the team in GUID format
 @return DefaultApiOrganizationsOrgIdTeamsTeamIdDeleteRequest
*/
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdDelete(ctx context.Context, orgId string, teamId string) DefaultApiOrganizationsOrgIdTeamsTeamIdDeleteRequest {
	return DefaultApiOrganizationsOrgIdTeamsTeamIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		teamId: teamId,
	}
}

// Execute executes the request
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdDeleteExecute(r DefaultApiOrganizationsOrgIdTeamsTeamIdDeleteRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsTeamIdDelete")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams/{teamId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"teamId"+"}", url.PathEscape(parameterValueToString(r.teamId, "teamId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultApiOrganizationsOrgIdTeamsTeamIdGetRequest struct {
	ctx context.Context
	ApiService *DefaultApiService
	orgId string
	teamId string
}

func (r DefaultApiOrganizationsOrgIdTeamsTeamIdGetRequest) Execute() (*Team, *http.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsTeamIdGetExecute(r)
}

/*
OrganizationsOrgIdTeamsTeamIdGet Method for OrganizationsOrgIdTeamsTeamIdGet

retrieves team by id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @param teamId The ID of the team in GUID format
 @return DefaultApiOrganizationsOrgIdTeamsTeamIdGetRequest
*/
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdGet(ctx context.Context, orgId string, teamId string) DefaultApiOrganizationsOrgIdTeamsTeamIdGetRequest {
	return DefaultApiOrganizationsOrgIdTeamsTeamIdGetRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		teamId: teamId,
	}
}

// Execute executes the request
//  @return Team
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdGetExecute(r DefaultApiOrganizationsOrgIdTeamsTeamIdGetRequest) (*Team, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Team
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsTeamIdGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams/{teamId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"teamId"+"}", url.PathEscape(parameterValueToString(r.teamId, "teamId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultApiOrganizationsOrgIdTeamsTeamIdParentPutRequest struct {
	ctx context.Context
	ApiService *DefaultApiService
	orgId string
	teamId string
	teamPutBody *TeamPutBody
}

func (r DefaultApiOrganizationsOrgIdTeamsTeamIdParentPutRequest) TeamPutBody(teamPutBody TeamPutBody) DefaultApiOrganizationsOrgIdTeamsTeamIdParentPutRequest {
	r.teamPutBody = &teamPutBody
	return r
}

func (r DefaultApiOrganizationsOrgIdTeamsTeamIdParentPutRequest) Execute() (*OrganizationsOrgIdTeamsTeamIdParentPut201Response, *http.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsTeamIdParentPutExecute(r)
}

/*
OrganizationsOrgIdTeamsTeamIdParentPut Method for OrganizationsOrgIdTeamsTeamIdParentPut

moves a team (along with its nested teams) from one parent team to another

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @param teamId The ID of the team in GUID format
 @return DefaultApiOrganizationsOrgIdTeamsTeamIdParentPutRequest
*/
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdParentPut(ctx context.Context, orgId string, teamId string) DefaultApiOrganizationsOrgIdTeamsTeamIdParentPutRequest {
	return DefaultApiOrganizationsOrgIdTeamsTeamIdParentPutRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		teamId: teamId,
	}
}

// Execute executes the request
//  @return OrganizationsOrgIdTeamsTeamIdParentPut201Response
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdParentPutExecute(r DefaultApiOrganizationsOrgIdTeamsTeamIdParentPutRequest) (*OrganizationsOrgIdTeamsTeamIdParentPut201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrganizationsOrgIdTeamsTeamIdParentPut201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsTeamIdParentPut")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams/{teamId}/parent"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"teamId"+"}", url.PathEscape(parameterValueToString(r.teamId, "teamId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamPutBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultApiOrganizationsOrgIdTeamsTeamIdPatchRequest struct {
	ctx context.Context
	ApiService *DefaultApiService
	orgId string
	teamId string
	teamPatchBody *TeamPatchBody
}

func (r DefaultApiOrganizationsOrgIdTeamsTeamIdPatchRequest) TeamPatchBody(teamPatchBody TeamPatchBody) DefaultApiOrganizationsOrgIdTeamsTeamIdPatchRequest {
	r.teamPatchBody = &teamPatchBody
	return r
}

func (r DefaultApiOrganizationsOrgIdTeamsTeamIdPatchRequest) Execute() (*Team, *http.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsTeamIdPatchExecute(r)
}

/*
OrganizationsOrgIdTeamsTeamIdPatch Method for OrganizationsOrgIdTeamsTeamIdPatch

updates a team

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @param teamId The ID of the team in GUID format
 @return DefaultApiOrganizationsOrgIdTeamsTeamIdPatchRequest
*/
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdPatch(ctx context.Context, orgId string, teamId string) DefaultApiOrganizationsOrgIdTeamsTeamIdPatchRequest {
	return DefaultApiOrganizationsOrgIdTeamsTeamIdPatchRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		teamId: teamId,
	}
}

// Execute executes the request
//  @return Team
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdPatchExecute(r DefaultApiOrganizationsOrgIdTeamsTeamIdPatchRequest) (*Team, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Team
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsTeamIdPatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams/{teamId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"teamId"+"}", url.PathEscape(parameterValueToString(r.teamId, "teamId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamPatchBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
