openapi: 3.0.0
info:
  description: Description of the Team Group Mappings API
  title: Team Group Mappings API
  version: 1.1.0
servers:
- description: Anypoint Cloudhub
  url: https://anypoint.mulesoft.com/accounts/api/
- description: Anypoint Cloudhub EU
  url: https://eu1.anypoint.mulesoft.com/accounts/api/
- description: Anypoint Cloudhub GOV
  url: https://gov.anypoint.mulesoft.com/accounts/api/
security:
- bearerAuth: []
paths:
  /organizations/{orgId}/teams/{teamId}/groupmappings:
    get:
      description: retrieves team groupmappings
      operationId: getTeamGroupMappings
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in GUID format
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of rolegroups to retrieve per request.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The number of records to omit from the response.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "401":
          description: Access token is missing or invalid
        "400":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorsResponse'
          description: Bad request response
        "404":
          description: resource not found
        "201":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TeamGroupMappingsCollection'
          description: Success response
    put:
      description: adds the given group mappings to the given team
      operationId: putTeamGroupMappings
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the team in GUID format
        explode: false
        in: path
        name: teamId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/TeamGroupMappingsPutBody'
      responses:
        "401":
          description: Access token is missing or invalid
        "201":
          description: Success response
components:
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorsResponse'
      description: Bad request response
    NotFoundError:
      description: resource not found
    SuccessListTeamGroupMappings:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/TeamGroupMappingsCollection'
      description: Success response
    SuccessPutGroupMappings:
      description: Success response
  schemas:
    ErrorsResponse:
      example:
        errors:
        - schema: schema
          data: data
          type: type
          keyword: keyword
          message: message
          dataPath: dataPath
        - schema: schema
          data: data
          type: type
          keyword: keyword
          message: message
          dataPath: dataPath
      properties:
        errors:
          items:
            $ref: '#/components/schemas/ErrorsResponse_errors_inner'
          type: array
      title: ErrorsResponse
      type: object
    TeamGroupMappingsPutBody:
      items:
        $ref: '#/components/schemas/TeamGroupMappingPutBody'
      title: TeamGroupMappingsPutBody
      type: array
    TeamGroupMapping:
      example:
        provider_id: provider_id
        external_group_name: external_group_name
        membership_type: membership_type
      properties:
        membership_type:
          title: membershipType
          type: string
        external_group_name:
          title: externalGroupName
          type: string
        provider_id:
          title: providerId
          type: string
      title: TeamGroupMapping
      type: object
    TeamGroupMappingsCollection:
      example:
        total: 0
        data:
        - provider_id: provider_id
          external_group_name: external_group_name
          membership_type: membership_type
        - provider_id: provider_id
          external_group_name: external_group_name
          membership_type: membership_type
      properties:
        data:
          items:
            $ref: '#/components/schemas/TeamGroupMapping'
          title: data
          type: array
        total:
          title: total
          type: integer
      title: TeamGroupMappingsCollection
      type: object
    ErrorsResponse_errors_inner:
      example:
        schema: schema
        data: data
        type: type
        keyword: keyword
        message: message
        dataPath: dataPath
      properties:
        type:
          title: type
          type: string
        dataPath:
          title: dataPath
          type: string
        keyword:
          title: keyword
          type: string
        schema:
          title: schema
          type: string
        data:
          title: data
          type: string
        message:
          title: message
          type: string
      type: object
    TeamGroupMappingPutBody:
      example:
        provider_id: provider_id
        external_group_name: external_group_name
        membership_type: member
      properties:
        membership_type:
          enum:
          - member
          - maintainer
          title: membershipType
          type: string
        external_group_name:
          title: externalGroupName
          type: string
        provider_id:
          title: providerId
          type: string
      title: TeamGroupMappingPutBody
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
