/*
API Manager API

API Manager API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package apim

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type DefaultAPIDeleteApimInstanceRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	envApiId string
}

func (r DefaultAPIDeleteApimInstanceRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteApimInstanceExecute(r)
}

/*
DeleteApimInstance Delete a specific API Manager Instance

Delete a specific API Manager Instance in a specific environment and organization. Connected Apps require the scope "Manage APIs Configuration".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param envApiId The api manager instance id for a given environment
 @return DefaultAPIDeleteApimInstanceRequest
*/
func (a *DefaultAPIService) DeleteApimInstance(ctx context.Context, orgId string, envId string, envApiId string) DefaultAPIDeleteApimInstanceRequest {
	return DefaultAPIDeleteApimInstanceRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		envApiId: envApiId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) DeleteApimInstanceExecute(r DefaultAPIDeleteApimInstanceRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.DeleteApimInstance")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/environments/{envId}/apis/{envApiId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envApiId"+"}", url.PathEscape(parameterValueToString(r.envApiId, "envApiId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetApimInstanceDetails404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIGetApiAssetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apiId string
}

func (r DefaultAPIGetApiAssetRequest) Execute() (*ApimAsset, *http.Response, error) {
	return r.ApiService.GetApiAssetExecute(r)
}

/*
GetApiAsset Get API Asset

Get API Asset

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param apiId The API id
 @return DefaultAPIGetApiAssetRequest
*/
func (a *DefaultAPIService) GetApiAsset(ctx context.Context, orgId string, envId string, apiId string) DefaultAPIGetApiAssetRequest {
	return DefaultAPIGetApiAssetRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		apiId: apiId,
	}
}

// Execute executes the request
//  @return ApimAsset
func (a *DefaultAPIService) GetApiAssetExecute(r DefaultAPIGetApiAssetRequest) (*ApimAsset, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimAsset
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetApiAsset")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/xapi/v1/organizations/{orgId}/environments/{envId}/apis/{apiId}/apiAsset"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"apiId"+"}", url.PathEscape(parameterValueToString(r.apiId, "apiId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetApimInstanceDetailsRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	envApiId string
	includeProxyTemplate *bool
	includeValidation *bool
	includeTlsContexts *bool
}

// Include the configured proxyTemplate to its associated endpoint
func (r DefaultAPIGetApimInstanceDetailsRequest) IncludeProxyTemplate(includeProxyTemplate bool) DefaultAPIGetApimInstanceDetailsRequest {
	r.includeProxyTemplate = &includeProxyTemplate
	return r
}

// Include the configured validation to its associated endpoint
func (r DefaultAPIGetApimInstanceDetailsRequest) IncludeValidation(includeValidation bool) DefaultAPIGetApimInstanceDetailsRequest {
	r.includeValidation = &includeValidation
	return r
}

// Include the configured TLS contexts
func (r DefaultAPIGetApimInstanceDetailsRequest) IncludeTlsContexts(includeTlsContexts bool) DefaultAPIGetApimInstanceDetailsRequest {
	r.includeTlsContexts = &includeTlsContexts
	return r
}

func (r DefaultAPIGetApimInstanceDetailsRequest) Execute() (*ApimInstanceDetails, *http.Response, error) {
	return r.ApiService.GetApimInstanceDetailsExecute(r)
}

/*
GetApimInstanceDetails Retrieves a specific API Manager Instance

Retrieves a specific API Manager Instance for a specific environment and organization. Connected Apps require the scope "View APIs Configuration".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param envApiId The api manager instance id for a given environment
 @return DefaultAPIGetApimInstanceDetailsRequest
*/
func (a *DefaultAPIService) GetApimInstanceDetails(ctx context.Context, orgId string, envId string, envApiId string) DefaultAPIGetApimInstanceDetailsRequest {
	return DefaultAPIGetApimInstanceDetailsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		envApiId: envApiId,
	}
}

// Execute executes the request
//  @return ApimInstanceDetails
func (a *DefaultAPIService) GetApimInstanceDetailsExecute(r DefaultAPIGetApimInstanceDetailsRequest) (*ApimInstanceDetails, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimInstanceDetails
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetApimInstanceDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/environments/{envId}/apis/{envApiId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envApiId"+"}", url.PathEscape(parameterValueToString(r.envApiId, "envApiId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeProxyTemplate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeProxyTemplate", r.includeProxyTemplate, "form", "")
	}
	if r.includeValidation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeValidation", r.includeValidation, "form", "")
	}
	if r.includeTlsContexts != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeTlsContexts", r.includeTlsContexts, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetApimInstanceDetails404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetEnvApimInstancesRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	query *string
	groupId *string
	assetId *string
	assetVersion *string
	instanceLabel *string
	productVersion *string
	autodiscoveryInstanceName *string
	filters *[]string
	limit *int32
	offset *int32
	sort *string
	ascending *bool
}

// A string that will be checked for a partial or similar matches of the name, description, label and tags
func (r DefaultAPIGetEnvApimInstancesRequest) Query(query string) DefaultAPIGetEnvApimInstancesRequest {
	r.query = &query
	return r
}

// A string that will be checked for an exact match of the groupId
func (r DefaultAPIGetEnvApimInstancesRequest) GroupId(groupId string) DefaultAPIGetEnvApimInstancesRequest {
	r.groupId = &groupId
	return r
}

// A string that will be checked for an exact match of the assetId
func (r DefaultAPIGetEnvApimInstancesRequest) AssetId(assetId string) DefaultAPIGetEnvApimInstancesRequest {
	r.assetId = &assetId
	return r
}

// A string that will be checked for an exact match of the assetVersion
func (r DefaultAPIGetEnvApimInstancesRequest) AssetVersion(assetVersion string) DefaultAPIGetEnvApimInstancesRequest {
	r.assetVersion = &assetVersion
	return r
}

// A string that will be checked for an exact match of the instanceLabel
func (r DefaultAPIGetEnvApimInstancesRequest) InstanceLabel(instanceLabel string) DefaultAPIGetEnvApimInstancesRequest {
	r.instanceLabel = &instanceLabel
	return r
}

// A string that will be checked for an exact match of the productVersion
func (r DefaultAPIGetEnvApimInstancesRequest) ProductVersion(productVersion string) DefaultAPIGetEnvApimInstancesRequest {
	r.productVersion = &productVersion
	return r
}

// A string that will be checked for an exact match of the autodiscoveryInstanceName
func (r DefaultAPIGetEnvApimInstancesRequest) AutodiscoveryInstanceName(autodiscoveryInstanceName string) DefaultAPIGetEnvApimInstancesRequest {
	r.autodiscoveryInstanceName = &autodiscoveryInstanceName
	return r
}

// Comma-separated list of filters, which can be \&quot;active\&quot; and/or \&quot;pinned\&quot;
func (r DefaultAPIGetEnvApimInstancesRequest) Filters(filters []string) DefaultAPIGetEnvApimInstancesRequest {
	r.filters = &filters
	return r
}

// Maximum number of rolegroups to retrieve per request.
func (r DefaultAPIGetEnvApimInstancesRequest) Limit(limit int32) DefaultAPIGetEnvApimInstancesRequest {
	r.limit = &limit
	return r
}

// The number of records to omit from the response.
func (r DefaultAPIGetEnvApimInstancesRequest) Offset(offset int32) DefaultAPIGetEnvApimInstancesRequest {
	r.offset = &offset
	return r
}

// Default value is name
func (r DefaultAPIGetEnvApimInstancesRequest) Sort(sort string) DefaultAPIGetEnvApimInstancesRequest {
	r.sort = &sort
	return r
}

// To activate ascending sorting
func (r DefaultAPIGetEnvApimInstancesRequest) Ascending(ascending bool) DefaultAPIGetEnvApimInstancesRequest {
	r.ascending = &ascending
	return r
}

func (r DefaultAPIGetEnvApimInstancesRequest) Execute() (*ApimInstanceCollection, *http.Response, error) {
	return r.ApiService.GetEnvApimInstancesExecute(r)
}

/*
GetEnvApimInstances Retrieves a collection of API Manager Instances

Retrieves collection of API Manager Instances that meets the given criteria. Connected Apps require the scope "View APIs Configuration"

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @return DefaultAPIGetEnvApimInstancesRequest
*/
func (a *DefaultAPIService) GetEnvApimInstances(ctx context.Context, orgId string, envId string) DefaultAPIGetEnvApimInstancesRequest {
	return DefaultAPIGetEnvApimInstancesRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
	}
}

// Execute executes the request
//  @return ApimInstanceCollection
func (a *DefaultAPIService) GetEnvApimInstancesExecute(r DefaultAPIGetEnvApimInstancesRequest) (*ApimInstanceCollection, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimInstanceCollection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetEnvApimInstances")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/api/v1/organizations/{orgId}/environments/{envId}/apis"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.query != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "query", r.query, "form", "")
	}
	if r.groupId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupId", r.groupId, "form", "")
	}
	if r.assetId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetId", r.assetId, "form", "")
	}
	if r.assetVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetVersion", r.assetVersion, "form", "")
	}
	if r.instanceLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "instanceLabel", r.instanceLabel, "form", "")
	}
	if r.productVersion != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "productVersion", r.productVersion, "form", "")
	}
	if r.autodiscoveryInstanceName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "autodiscoveryInstanceName", r.autodiscoveryInstanceName, "form", "")
	}
	if r.filters != nil {
		t := *r.filters
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "filters", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "filters", t, "form", "multi")
		}
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.sort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sort", r.sort, "form", "")
	}
	if r.ascending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ascending", r.ascending, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIPatchApimInstanceRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	envApiId string
	force *bool
	updateApisInSamePort *bool
	body *map[string]interface{}
}

// Allows patching the API autodiscoveryInstanceName. You may want to change the &#39;api.version&#39; configuration on all Mule 2 &amp; Mule 3 applications tracking this API.
func (r DefaultAPIPatchApimInstanceRequest) Force(force bool) DefaultAPIPatchApimInstanceRequest {
	r.force = &force
	return r
}

// For APIs deployed to Flex, if endpoint proxyUri or inbound TLS Contexts are being updated, apis in the same port are also updated
func (r DefaultAPIPatchApimInstanceRequest) UpdateApisInSamePort(updateApisInSamePort bool) DefaultAPIPatchApimInstanceRequest {
	r.updateApisInSamePort = &updateApisInSamePort
	return r
}

// Patch API Manager Instance Body
func (r DefaultAPIPatchApimInstanceRequest) Body(body map[string]interface{}) DefaultAPIPatchApimInstanceRequest {
	r.body = &body
	return r
}

func (r DefaultAPIPatchApimInstanceRequest) Execute() (*ApimInstancePatchResponse, *http.Response, error) {
	return r.ApiService.PatchApimInstanceExecute(r)
}

/*
PatchApimInstance Patches a specific API Manager Instance

Patches a specific API Manager Instance in a specific environment and organization. Connected Apps require the scope "Manage APIs Configuration".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param envApiId The api manager instance id for a given environment
 @return DefaultAPIPatchApimInstanceRequest
*/
func (a *DefaultAPIService) PatchApimInstance(ctx context.Context, orgId string, envId string, envApiId string) DefaultAPIPatchApimInstanceRequest {
	return DefaultAPIPatchApimInstanceRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		envApiId: envApiId,
	}
}

// Execute executes the request
//  @return ApimInstancePatchResponse
func (a *DefaultAPIService) PatchApimInstanceExecute(r DefaultAPIPatchApimInstanceRequest) (*ApimInstancePatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimInstancePatchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.PatchApimInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/xapi/v1/organizations/{orgId}/environments/{envId}/apis/{envApiId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envApiId"+"}", url.PathEscape(parameterValueToString(r.envApiId, "envApiId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.force != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "force", r.force, "form", "")
	}
	if r.updateApisInSamePort != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "updateApisInSamePort", r.updateApisInSamePort, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetApimInstanceDetails404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIPostApimInstanceRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	apimInstancePostBody *ApimInstancePostBody
}

// Post API Manager Instance Body
func (r DefaultAPIPostApimInstanceRequest) ApimInstancePostBody(apimInstancePostBody ApimInstancePostBody) DefaultAPIPostApimInstanceRequest {
	r.apimInstancePostBody = &apimInstancePostBody
	return r
}

func (r DefaultAPIPostApimInstanceRequest) Execute() (*ApimInstancePostResponse, *http.Response, error) {
	return r.ApiService.PostApimInstanceExecute(r)
}

/*
PostApimInstance Creates an API Manager Instance

Creates an API Manager Instance in a given environment. Connected Apps require the scope "Manage APIs Configuration".

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @return DefaultAPIPostApimInstanceRequest
*/
func (a *DefaultAPIService) PostApimInstance(ctx context.Context, orgId string, envId string) DefaultAPIPostApimInstanceRequest {
	return DefaultAPIPostApimInstanceRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
	}
}

// Execute executes the request
//  @return ApimInstancePostResponse
func (a *DefaultAPIService) PostApimInstanceExecute(r DefaultAPIPostApimInstanceRequest) (*ApimInstancePostResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApimInstancePostResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.PostApimInstance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/xapi/v1/organizations/{orgId}/environments/{envId}/apis"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.apimInstancePostBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
