/*
Role API

Description of the Role API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package role

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	rolegroupId string
	roleToDelete *[]RoleToDelete
}

func (r DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteRequest) RoleToDelete(roleToDelete []RoleToDelete) DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteRequest {
	r.roleToDelete = &roleToDelete
	return r
}

func (r DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteRequest) Execute() ([]int32, *http.Response, error) {
	return r.ApiService.OrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteExecute(r)
}

/*
OrganizationsOrgIdRolegroupsRolegroupIdRolesDelete Method for OrganizationsOrgIdRolegroupsRolegroupIdRolesDelete

Delete assigned roles

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @param rolegroupId The id of a rolegroup
 @return DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteRequest
*/
func (a *DefaultAPIService) OrganizationsOrgIdRolegroupsRolegroupIdRolesDelete(ctx context.Context, orgId string, rolegroupId string) DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteRequest {
	return DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		rolegroupId: rolegroupId,
	}
}

// Execute executes the request
//  @return []int32
func (a *DefaultAPIService) OrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteExecute(r DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesDeleteRequest) ([]int32, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []int32
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.OrganizationsOrgIdRolegroupsRolegroupIdRolesDelete")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/rolegroups/{rolegroupId}/roles"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"rolegroupId"+"}", url.PathEscape(parameterValueToString(r.rolegroupId, "rolegroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.roleToDelete
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	rolegroupId string
}

func (r DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesGetRequest) Execute() (*OrganizationsOrgIdRolegroupsRolegroupIdRolesGet200Response, *http.Response, error) {
	return r.ApiService.OrganizationsOrgIdRolegroupsRolegroupIdRolesGetExecute(r)
}

/*
OrganizationsOrgIdRolegroupsRolegroupIdRolesGet Method for OrganizationsOrgIdRolegroupsRolegroupIdRolesGet

Returns all roles assigned to the given rolegroup within the organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @param rolegroupId The id of a rolegroup
 @return DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesGetRequest
*/
func (a *DefaultAPIService) OrganizationsOrgIdRolegroupsRolegroupIdRolesGet(ctx context.Context, orgId string, rolegroupId string) DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesGetRequest {
	return DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesGetRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		rolegroupId: rolegroupId,
	}
}

// Execute executes the request
//  @return OrganizationsOrgIdRolegroupsRolegroupIdRolesGet200Response
func (a *DefaultAPIService) OrganizationsOrgIdRolegroupsRolegroupIdRolesGetExecute(r DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesGetRequest) (*OrganizationsOrgIdRolegroupsRolegroupIdRolesGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OrganizationsOrgIdRolegroupsRolegroupIdRolesGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.OrganizationsOrgIdRolegroupsRolegroupIdRolesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/rolegroups/{rolegroupId}/roles"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"rolegroupId"+"}", url.PathEscape(parameterValueToString(r.rolegroupId, "rolegroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesPostRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	rolegroupId string
	roleToAssign *[]RoleToAssign
}

func (r DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesPostRequest) RoleToAssign(roleToAssign []RoleToAssign) DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesPostRequest {
	r.roleToAssign = &roleToAssign
	return r
}

func (r DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesPostRequest) Execute() ([]RolePostResponseItem, *http.Response, error) {
	return r.ApiService.OrganizationsOrgIdRolegroupsRolegroupIdRolesPostExecute(r)
}

/*
OrganizationsOrgIdRolegroupsRolegroupIdRolesPost Method for OrganizationsOrgIdRolegroupsRolegroupIdRolesPost

Assigns a role to a rolegroup.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization in GUID format
 @param rolegroupId The id of a rolegroup
 @return DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesPostRequest
*/
func (a *DefaultAPIService) OrganizationsOrgIdRolegroupsRolegroupIdRolesPost(ctx context.Context, orgId string, rolegroupId string) DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesPostRequest {
	return DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesPostRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		rolegroupId: rolegroupId,
	}
}

// Execute executes the request
//  @return []RolePostResponseItem
func (a *DefaultAPIService) OrganizationsOrgIdRolegroupsRolegroupIdRolesPostExecute(r DefaultAPIOrganizationsOrgIdRolegroupsRolegroupIdRolesPostRequest) ([]RolePostResponseItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []RolePostResponseItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.OrganizationsOrgIdRolegroupsRolegroupIdRolesPost")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/rolegroups/{rolegroupId}/roles"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"rolegroupId"+"}", url.PathEscape(parameterValueToString(r.rolegroupId, "rolegroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.roleToAssign
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v OrganizationsOrgIdRolegroupsRolegroupIdRolesPost400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIRolesGetRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	name *string
	description *string
	includeInternal *bool
	search *string
	offset *int32
	limit *int32
	ascending *bool
}

// search by role name
func (r DefaultAPIRolesGetRequest) Name(name string) DefaultAPIRolesGetRequest {
	r.name = &name
	return r
}

// search by role description
func (r DefaultAPIRolesGetRequest) Description(description string) DefaultAPIRolesGetRequest {
	r.description = &description
	return r
}

// include internal roles in search
func (r DefaultAPIRolesGetRequest) IncludeInternal(includeInternal bool) DefaultAPIRolesGetRequest {
	r.includeInternal = &includeInternal
	return r
}

// A search string to use for partial matches of role names
func (r DefaultAPIRolesGetRequest) Search(search string) DefaultAPIRolesGetRequest {
	r.search = &search
	return r
}

// Pagination parameter to start returning results from this position of matches
func (r DefaultAPIRolesGetRequest) Offset(offset int32) DefaultAPIRolesGetRequest {
	r.offset = &offset
	return r
}

// Pagination parameter for how many results to return
func (r DefaultAPIRolesGetRequest) Limit(limit int32) DefaultAPIRolesGetRequest {
	r.limit = &limit
	return r
}

// Sort order for filtering
func (r DefaultAPIRolesGetRequest) Ascending(ascending bool) DefaultAPIRolesGetRequest {
	r.ascending = &ascending
	return r
}

func (r DefaultAPIRolesGetRequest) Execute() (*RolesGet200Response, *http.Response, error) {
	return r.ApiService.RolesGetExecute(r)
}

/*
RolesGet Method for RolesGet

Retrieves all availables roles (permissions)

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DefaultAPIRolesGetRequest
*/
func (a *DefaultAPIService) RolesGet(ctx context.Context) DefaultAPIRolesGetRequest {
	return DefaultAPIRolesGetRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return RolesGet200Response
func (a *DefaultAPIService) RolesGetExecute(r DefaultAPIRolesGetRequest) (*RolesGet200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *RolesGet200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.RolesGet")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/roles"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.includeInternal != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "include_internal", r.includeInternal, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.ascending != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "ascending", r.ascending, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
