openapi: 3.0.0
info:
  description: Description of the Authentication API
  title: Authorization API
  version: 1.0.0
servers:
- description: Anypoint Cloudhub
  url: https://anypoint.mulesoft.com/accounts/
- description: Anypoint Cloudhub EU
  url: https://eu1.anypoint.mulesoft.com/accounts/
- description: Anypoint Cloudhub GOV
  url: https://gov.anypoint.mulesoft.com/accounts/
paths:
  /api/v2/oauth2/token:
    post:
      description: Authenticates a connected app and returns access token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/credentials'
        description: Request body containing credentials
        required: true
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_api_v2_oauth2_token_post_200_response'
          description: Success response
      summary: Returns access token
  /login:
    post:
      description: Authenticates a user and returns access token
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/userPwdCredentials'
        description: Request body containing credentials
        required: true
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/_login_post_200_response'
          description: Success response
      summary: Returns access token
components:
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    SuccessAuth:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_api_v2_oauth2_token_post_200_response'
      description: Success response
    SuccessAuthUserPwd:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/_login_post_200_response'
      description: Success response
  schemas:
    credentials:
      properties:
        grant_type:
          default: client_credentials
          title: oauth grant type. Use client_credentials.
          type: string
        client_id:
          example: bb644ad254434087f80fe323d254434
          title: the connected app client_id
          type: string
        client_secret:
          example: 084ADC05A977a4044e1B604Cfd4F4238
          title: the connected app client_secret
          type: string
      type: object
    userPwdCredentials:
      properties:
        username:
          default: ""
          title: username
          type: string
        password:
          default: ""
          title: password
          type: string
      type: object
    _api_v2_oauth2_token_post_200_response:
      example:
        access_token: e4abe472725d-93b3-426e-8ca7-5a45636b
        token_type: brearer
        expires_in: 3600
      properties:
        access_token:
          example: e4abe472725d-93b3-426e-8ca7-5a45636b
          title: Authorization token
          type: string
        expires_in:
          example: 3600
          title: Expiration period
          type: integer
        token_type:
          example: brearer
          title: token type
          type: string
      type: object
    _login_post_200_response:
      example:
        access_token: e4abe472725d-93b3-426e-8ca7-5a45636b
        redirectUrl: /home/
        token_type: brearer
      properties:
        access_token:
          example: e4abe472725d-93b3-426e-8ca7-5a45636b
          title: Authorization token
          type: string
        redirectUrl:
          example: /home/
          title: redirect url
          type: string
        token_type:
          example: brearer
          title: token type
          type: string
      type: object
