/*
Secret Group Truststore API

Secret Group Truststore API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package secretgroup_truststore

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"os"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type DefaultAPIGetSecretGroupTruststoreDetailsRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	secretGroupId string
	secretId string
}

func (r DefaultAPIGetSecretGroupTruststoreDetailsRequest) Execute() (*Truststore, *http.Response, error) {
	return r.ApiService.GetSecretGroupTruststoreDetailsExecute(r)
}

/*
GetSecretGroupTruststoreDetails Retrieve truststore details

Retrieves truststore details by id for a given secret group in a given organization and environment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param secretGroupId The secret group id
 @param secretId The truststore id
 @return DefaultAPIGetSecretGroupTruststoreDetailsRequest
*/
func (a *DefaultAPIService) GetSecretGroupTruststoreDetails(ctx context.Context, orgId string, envId string, secretGroupId string, secretId string) DefaultAPIGetSecretGroupTruststoreDetailsRequest {
	return DefaultAPIGetSecretGroupTruststoreDetailsRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		secretGroupId: secretGroupId,
		secretId: secretId,
	}
}

// Execute executes the request
//  @return Truststore
func (a *DefaultAPIService) GetSecretGroupTruststoreDetailsExecute(r DefaultAPIGetSecretGroupTruststoreDetailsRequest) (*Truststore, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *Truststore
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetSecretGroupTruststoreDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/truststores/{secretId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"secretGroupId"+"}", url.PathEscape(parameterValueToString(r.secretGroupId, "secretGroupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"secretId"+"}", url.PathEscape(parameterValueToString(r.secretId, "secretId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetSecretGroupTruststoreDetails404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetSecretGroupTruststoresRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	secretGroupId string
	type_ *string
}

// Filter the elements on the response to be of a specific type from {PEM, JKS, JCEKS, PKCS12}
func (r DefaultAPIGetSecretGroupTruststoresRequest) Type_(type_ string) DefaultAPIGetSecretGroupTruststoresRequest {
	r.type_ = &type_
	return r
}

func (r DefaultAPIGetSecretGroupTruststoresRequest) Execute() ([]TruststoreSummary, *http.Response, error) {
	return r.ApiService.GetSecretGroupTruststoresExecute(r)
}

/*
GetSecretGroupTruststores Retrieves a secret-groups' collection of truststores.

Retrieves a secret-groups' collection of truststores.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param secretGroupId The secret group id
 @return DefaultAPIGetSecretGroupTruststoresRequest
*/
func (a *DefaultAPIService) GetSecretGroupTruststores(ctx context.Context, orgId string, envId string, secretGroupId string) DefaultAPIGetSecretGroupTruststoresRequest {
	return DefaultAPIGetSecretGroupTruststoresRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		secretGroupId: secretGroupId,
	}
}

// Execute executes the request
//  @return []TruststoreSummary
func (a *DefaultAPIService) GetSecretGroupTruststoresExecute(r DefaultAPIGetSecretGroupTruststoresRequest) ([]TruststoreSummary, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TruststoreSummary
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetSecretGroupTruststores")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/truststores"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"secretGroupId"+"}", url.PathEscape(parameterValueToString(r.secretGroupId, "secretGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIPatchSecretGroupTruststoreRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	secretGroupId string
	secretId string
	body *map[string]interface{}
}

func (r DefaultAPIPatchSecretGroupTruststoreRequest) Body(body map[string]interface{}) DefaultAPIPatchSecretGroupTruststoreRequest {
	r.body = &body
	return r
}

func (r DefaultAPIPatchSecretGroupTruststoreRequest) Execute() (*PutSecretGroupTruststore200Response, *http.Response, error) {
	return r.ApiService.PatchSecretGroupTruststoreExecute(r)
}

/*
PatchSecretGroupTruststore Update a given secret-group truststore

Update truststore details for a given secret-group in a given organization and environment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param secretGroupId The secret group id
 @param secretId The truststore id
 @return DefaultAPIPatchSecretGroupTruststoreRequest
*/
func (a *DefaultAPIService) PatchSecretGroupTruststore(ctx context.Context, orgId string, envId string, secretGroupId string, secretId string) DefaultAPIPatchSecretGroupTruststoreRequest {
	return DefaultAPIPatchSecretGroupTruststoreRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		secretGroupId: secretGroupId,
		secretId: secretId,
	}
}

// Execute executes the request
//  @return PutSecretGroupTruststore200Response
func (a *DefaultAPIService) PatchSecretGroupTruststoreExecute(r DefaultAPIPatchSecretGroupTruststoreRequest) (*PutSecretGroupTruststore200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PutSecretGroupTruststore200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.PatchSecretGroupTruststore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/truststores/{secretId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"secretGroupId"+"}", url.PathEscape(parameterValueToString(r.secretGroupId, "secretGroupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"secretId"+"}", url.PathEscape(parameterValueToString(r.secretId, "secretId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json:"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.body
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetSecretGroupTruststoreDetails404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIPostSecretGroupTruststoreRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	secretGroupId string
	allowExpiredCert *bool
	expirationDate *string
	name *string
	type_ *string
	trustStore *os.File
	algorithm *string
	storePassphrase *string
}

// With &#39;true&#39; to allow uploading expired certificates
func (r DefaultAPIPostSecretGroupTruststoreRequest) AllowExpiredCert(allowExpiredCert bool) DefaultAPIPostSecretGroupTruststoreRequest {
	r.allowExpiredCert = &allowExpiredCert
	return r
}

// Date on which this secret should expire. If not set, by default, it will be set to notAfter date of the public certificate from this keystore. Once the secret expires, a grant can not be requested for it. 
func (r DefaultAPIPostSecretGroupTruststoreRequest) ExpirationDate(expirationDate string) DefaultAPIPostSecretGroupTruststoreRequest {
	r.expirationDate = &expirationDate
	return r
}

// The name of the truststore instance
func (r DefaultAPIPostSecretGroupTruststoreRequest) Name(name string) DefaultAPIPostSecretGroupTruststoreRequest {
	r.name = &name
	return r
}

func (r DefaultAPIPostSecretGroupTruststoreRequest) Type_(type_ string) DefaultAPIPostSecretGroupTruststoreRequest {
	r.type_ = &type_
	return r
}

// File containing one or more trusted certificate entries
func (r DefaultAPIPostSecretGroupTruststoreRequest) TrustStore(trustStore *os.File) DefaultAPIPostSecretGroupTruststoreRequest {
	r.trustStore = trustStore
	return r
}

// The algorithm used to initialize TrustManagerFactory
func (r DefaultAPIPostSecretGroupTruststoreRequest) Algorithm(algorithm string) DefaultAPIPostSecretGroupTruststoreRequest {
	r.algorithm = &algorithm
	return r
}

// The passphrase with which the trustStore file is protected
func (r DefaultAPIPostSecretGroupTruststoreRequest) StorePassphrase(storePassphrase string) DefaultAPIPostSecretGroupTruststoreRequest {
	r.storePassphrase = &storePassphrase
	return r
}

func (r DefaultAPIPostSecretGroupTruststoreRequest) Execute() (*PostSecretGroupTruststore201Response, *http.Response, error) {
	return r.ApiService.PostSecretGroupTruststoreExecute(r)
}

/*
PostSecretGroupTruststore Create a secret-groups' truststore.

Create a secret-groups' truststore.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param secretGroupId The secret group id
 @return DefaultAPIPostSecretGroupTruststoreRequest
*/
func (a *DefaultAPIService) PostSecretGroupTruststore(ctx context.Context, orgId string, envId string, secretGroupId string) DefaultAPIPostSecretGroupTruststoreRequest {
	return DefaultAPIPostSecretGroupTruststoreRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		secretGroupId: secretGroupId,
	}
}

// Execute executes the request
//  @return PostSecretGroupTruststore201Response
func (a *DefaultAPIService) PostSecretGroupTruststoreExecute(r DefaultAPIPostSecretGroupTruststoreRequest) (*PostSecretGroupTruststore201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PostSecretGroupTruststore201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.PostSecretGroupTruststore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/truststores"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"secretGroupId"+"}", url.PathEscape(parameterValueToString(r.secretGroupId, "secretGroupId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.allowExpiredCert == nil {
		return localVarReturnValue, nil, reportError("allowExpiredCert is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "allowExpiredCert", r.allowExpiredCert, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.expirationDate != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expirationDate", r.expirationDate, "", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	}
	var trustStoreLocalVarFormFileName string
	var trustStoreLocalVarFileName     string
	var trustStoreLocalVarFileBytes    []byte

	trustStoreLocalVarFormFileName = "trustStore"
	trustStoreLocalVarFile := r.trustStore

	if trustStoreLocalVarFile != nil {
		fbs, _ := io.ReadAll(trustStoreLocalVarFile)

		trustStoreLocalVarFileBytes = fbs
		trustStoreLocalVarFileName = trustStoreLocalVarFile.Name()
		trustStoreLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: trustStoreLocalVarFileBytes, fileName: trustStoreLocalVarFileName, formFileName: trustStoreLocalVarFormFileName})
	}
	if r.algorithm != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "algorithm", r.algorithm, "", "")
	}
	if r.storePassphrase != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "storePassphrase", r.storePassphrase, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIPutSecretGroupTruststoreRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	envId string
	secretGroupId string
	secretId string
	allowExpiredCert *bool
	expirationDate *string
	name *string
	type_ *string
	trustStore *os.File
	algorithm *string
	storePassphrase *string
}

// With &#39;true&#39; to allow uploading expired certificates
func (r DefaultAPIPutSecretGroupTruststoreRequest) AllowExpiredCert(allowExpiredCert bool) DefaultAPIPutSecretGroupTruststoreRequest {
	r.allowExpiredCert = &allowExpiredCert
	return r
}

// Date on which this secret should expire. If not set, by default, it will be set to notAfter date of the public certificate from this keystore. Once the secret expires, a grant can not be requested for it. 
func (r DefaultAPIPutSecretGroupTruststoreRequest) ExpirationDate(expirationDate string) DefaultAPIPutSecretGroupTruststoreRequest {
	r.expirationDate = &expirationDate
	return r
}

// The name of the truststore instance
func (r DefaultAPIPutSecretGroupTruststoreRequest) Name(name string) DefaultAPIPutSecretGroupTruststoreRequest {
	r.name = &name
	return r
}

func (r DefaultAPIPutSecretGroupTruststoreRequest) Type_(type_ string) DefaultAPIPutSecretGroupTruststoreRequest {
	r.type_ = &type_
	return r
}

// File containing one or more trusted certificate entries
func (r DefaultAPIPutSecretGroupTruststoreRequest) TrustStore(trustStore *os.File) DefaultAPIPutSecretGroupTruststoreRequest {
	r.trustStore = trustStore
	return r
}

// The algorithm used to initialize TrustManagerFactory
func (r DefaultAPIPutSecretGroupTruststoreRequest) Algorithm(algorithm string) DefaultAPIPutSecretGroupTruststoreRequest {
	r.algorithm = &algorithm
	return r
}

// The passphrase with which the trustStore file is protected
func (r DefaultAPIPutSecretGroupTruststoreRequest) StorePassphrase(storePassphrase string) DefaultAPIPutSecretGroupTruststoreRequest {
	r.storePassphrase = &storePassphrase
	return r
}

func (r DefaultAPIPutSecretGroupTruststoreRequest) Execute() (*PutSecretGroupTruststore200Response, *http.Response, error) {
	return r.ApiService.PutSecretGroupTruststoreExecute(r)
}

/*
PutSecretGroupTruststore Update a given secret-group truststore

Update truststore details for a given secret-group in a given organization and environment

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The organization Id
 @param envId The environment id
 @param secretGroupId The secret group id
 @param secretId The truststore id
 @return DefaultAPIPutSecretGroupTruststoreRequest
*/
func (a *DefaultAPIService) PutSecretGroupTruststore(ctx context.Context, orgId string, envId string, secretGroupId string, secretId string) DefaultAPIPutSecretGroupTruststoreRequest {
	return DefaultAPIPutSecretGroupTruststoreRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		envId: envId,
		secretGroupId: secretGroupId,
		secretId: secretId,
	}
}

// Execute executes the request
//  @return PutSecretGroupTruststore200Response
func (a *DefaultAPIService) PutSecretGroupTruststoreExecute(r DefaultAPIPutSecretGroupTruststoreRequest) (*PutSecretGroupTruststore200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PutSecretGroupTruststore200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.PutSecretGroupTruststore")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/environments/{envId}/secretGroups/{secretGroupId}/truststores/{secretId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"envId"+"}", url.PathEscape(parameterValueToString(r.envId, "envId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"secretGroupId"+"}", url.PathEscape(parameterValueToString(r.secretGroupId, "secretGroupId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"secretId"+"}", url.PathEscape(parameterValueToString(r.secretId, "secretId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.allowExpiredCert == nil {
		return localVarReturnValue, nil, reportError("allowExpiredCert is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "allowExpiredCert", r.allowExpiredCert, "form", "")
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"multipart/form-data"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.expirationDate != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "expirationDate", r.expirationDate, "", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "name", r.name, "", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "type", r.type_, "", "")
	}
	var trustStoreLocalVarFormFileName string
	var trustStoreLocalVarFileName     string
	var trustStoreLocalVarFileBytes    []byte

	trustStoreLocalVarFormFileName = "trustStore"
	trustStoreLocalVarFile := r.trustStore

	if trustStoreLocalVarFile != nil {
		fbs, _ := io.ReadAll(trustStoreLocalVarFile)

		trustStoreLocalVarFileBytes = fbs
		trustStoreLocalVarFileName = trustStoreLocalVarFile.Name()
		trustStoreLocalVarFile.Close()
		formFiles = append(formFiles, formFile{fileBytes: trustStoreLocalVarFileBytes, fileName: trustStoreLocalVarFileName, formFileName: trustStoreLocalVarFormFileName})
	}
	if r.algorithm != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "algorithm", r.algorithm, "", "")
	}
	if r.storePassphrase != nil {
		parameterAddToHeaderOrQuery(localVarFormParams, "storePassphrase", r.storePassphrase, "", "")
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v GetSecretGroupTruststoreDetails404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
