/*
 * Team Members API
 *
 * Description of the Team Members API
 *
 * API version: 1.0.0
 */

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package team_members

import (
	"bytes"
	_context "context"
	_ioutil "io/ioutil"
	_nethttp "net/http"
	_neturl "net/url"
	"strings"
)

// Linger please
var (
	_ _context.Context
)

// DefaultApiService DefaultApi service
type DefaultApiService service

type DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest struct {
	ctx _context.Context
	ApiService *DefaultApiService
	orgId string
	teamId string
	membershipType *string
	identityType *string
	memberIds *string
	search *string
	limit *int32
	offset *int32
	sort *string
	ascending *bool
}

func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) MembershipType(membershipType string) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	r.membershipType = &membershipType
	return r
}
func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) IdentityType(identityType string) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	r.identityType = &identityType
	return r
}
func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) MemberIds(memberIds string) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	r.memberIds = &memberIds
	return r
}
func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) Search(search string) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	r.search = &search
	return r
}
func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) Limit(limit int32) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	r.limit = &limit
	return r
}
func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) Offset(offset int32) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	r.offset = &offset
	return r
}
func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) Sort(sort string) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	r.sort = &sort
	return r
}
func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) Ascending(ascending bool) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	r.ascending = &ascending
	return r
}

func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) Execute() (TeamMemberCollection, *_nethttp.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsTeamIdMembersGetExecute(r)
}

/*
 * OrganizationsOrgIdTeamsTeamIdMembersGet Method for OrganizationsOrgIdTeamsTeamIdMembersGet
 * retrieves team by id
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param orgId The ID of the organization in GUID format
 * @param teamId The ID of the team in GUID format
 * @return DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest
 */
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdMembersGet(ctx _context.Context, orgId string, teamId string) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest {
	return DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		teamId: teamId,
	}
}

/*
 * Execute executes the request
 * @return TeamMemberCollection
 */
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdMembersGetExecute(r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersGetRequest) (TeamMemberCollection, *_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodGet
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
		localVarReturnValue  TeamMemberCollection
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsTeamIdMembersGet")
	if err != nil {
		return localVarReturnValue, nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams/{teamId}/members"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", _neturl.PathEscape(parameterToString(r.orgId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"teamId"+"}", _neturl.PathEscape(parameterToString(r.teamId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	if r.membershipType != nil {
		localVarQueryParams.Add("membership_type", parameterToString(*r.membershipType, ""))
	}
	if r.identityType != nil {
		localVarQueryParams.Add("identity_type", parameterToString(*r.identityType, ""))
	}
	if r.memberIds != nil {
		localVarQueryParams.Add("member_ids", parameterToString(*r.memberIds, ""))
	}
	if r.search != nil {
		localVarQueryParams.Add("search", parameterToString(*r.search, ""))
	}
	if r.limit != nil {
		localVarQueryParams.Add("limit", parameterToString(*r.limit, ""))
	}
	if r.offset != nil {
		localVarQueryParams.Add("offset", parameterToString(*r.offset, ""))
	}
	if r.sort != nil {
		localVarQueryParams.Add("sort", parameterToString(*r.sort, ""))
	}
	if r.ascending != nil {
		localVarQueryParams.Add("ascending", parameterToString(*r.ascending, ""))
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ErrorsResponse
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
			newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdDeleteRequest struct {
	ctx _context.Context
	ApiService *DefaultApiService
	orgId string
	teamId string
	userId string
}


func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdDeleteRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsTeamIdMembersUserIdDeleteExecute(r)
}

/*
 * OrganizationsOrgIdTeamsTeamIdMembersUserIdDelete Method for OrganizationsOrgIdTeamsTeamIdMembersUserIdDelete
 * delete a team
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param orgId The ID of the organization in GUID format
 * @param teamId The ID of the team in GUID format
 * @param userId The ID of the user in GUID format
 * @return DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdDeleteRequest
 */
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdMembersUserIdDelete(ctx _context.Context, orgId string, teamId string, userId string) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdDeleteRequest {
	return DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdDeleteRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		teamId: teamId,
		userId: userId,
	}
}

/*
 * Execute executes the request
 */
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdMembersUserIdDeleteExecute(r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdDeleteRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodDelete
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsTeamIdMembersUserIdDelete")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams/{teamId}/members/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", _neturl.PathEscape(parameterToString(r.orgId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"teamId"+"}", _neturl.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdPutRequest struct {
	ctx _context.Context
	ApiService *DefaultApiService
	orgId string
	teamId string
	userId string
	teamMemberPutBody *TeamMemberPutBody
}

func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdPutRequest) TeamMemberPutBody(teamMemberPutBody TeamMemberPutBody) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdPutRequest {
	r.teamMemberPutBody = &teamMemberPutBody
	return r
}

func (r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdPutRequest) Execute() (*_nethttp.Response, error) {
	return r.ApiService.OrganizationsOrgIdTeamsTeamIdMembersUserIdPutExecute(r)
}

/*
 * OrganizationsOrgIdTeamsTeamIdMembersUserIdPut Method for OrganizationsOrgIdTeamsTeamIdMembersUserIdPut
 * moves a team (along with its nested teams) from one parent team to another
 * @param ctx _context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 * @param orgId The ID of the organization in GUID format
 * @param teamId The ID of the team in GUID format
 * @param userId The ID of the user in GUID format
 * @return DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdPutRequest
 */
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdMembersUserIdPut(ctx _context.Context, orgId string, teamId string, userId string) DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdPutRequest {
	return DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdPutRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		teamId: teamId,
		userId: userId,
	}
}

/*
 * Execute executes the request
 */
func (a *DefaultApiService) OrganizationsOrgIdTeamsTeamIdMembersUserIdPutExecute(r DefaultApiApiOrganizationsOrgIdTeamsTeamIdMembersUserIdPutRequest) (*_nethttp.Response, error) {
	var (
		localVarHTTPMethod   = _nethttp.MethodPut
		localVarPostBody     interface{}
		localVarFormFileName string
		localVarFileName     string
		localVarFileBytes    []byte
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultApiService.OrganizationsOrgIdTeamsTeamIdMembersUserIdPut")
	if err != nil {
		return nil, GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/teams/{teamId}/members/{userId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", _neturl.PathEscape(parameterToString(r.orgId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"teamId"+"}", _neturl.PathEscape(parameterToString(r.teamId, "")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"userId"+"}", _neturl.PathEscape(parameterToString(r.userId, "")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := _neturl.Values{}
	localVarFormParams := _neturl.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.teamMemberPutBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, localVarFormFileName, localVarFileName, localVarFileBytes)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := _ioutil.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = _ioutil.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
