openapi: 3.0.0
info:
  description: Anypoint MQ Exchange Binding API specification
  title: Anypoint MQ Exchange Binding specfication
  version: 1.0.0
servers:
- description: Anypoint Cloudhub
  url: https://anypoint.mulesoft.com/mq/admin/api/v1/
- description: Anypoint Cloudhub EU
  url: https://eu1.anypoint.mulesoft.com/mq/admin/api/v1/
- description: Anypoint Cloudhub GOV
  url: https://gov.anypoint.mulesoft.com/mq/admin/api/v1/
security:
- bearerAuth: []
paths:
  /organizations/{orgId}/environments/{envId}/regions/{regionId}/bindings/exchanges/{exchangeId}/queues/{queueId}:
    delete:
      description: Delete an exchange queue binding
      operationId: DeleteAMEBinding
      parameters:
      - description: The organization Id
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The environment id
        explode: false
        in: path
        name: envId
        required: true
        schema:
          type: string
        style: simple
      - description: The region id
        explode: false
        in: path
        name: regionId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange
        explode: false
        in: path
        name: exchangeId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange queue binding
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          description: Access token is missing or invalid
        "204":
          description: Success response
    get:
      description: Get details about a queue bound to an exchange
      operationId: GetAMEBinding
      parameters:
      - description: The organization Id
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The environment id
        explode: false
        in: path
        name: envId
        required: true
        schema:
          type: string
        style: simple
      - description: The region id
        explode: false
        in: path
        name: regionId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange
        explode: false
        in: path
        name: exchangeId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange queue binding
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      - description: Defines what to fetch
        explode: true
        in: query
        name: inclusion
        required: false
        schema:
          enum:
          - all
          - minimal
          type: string
        style: form
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exchangeBindingWithRules'
          description: Success response
    put:
      description: Create exchange queue binding
      operationId: CreateAMEBinding
      parameters:
      - description: The organization Id
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The environment id
        explode: false
        in: path
        name: envId
        required: true
        schema:
          type: string
        style: simple
      - description: The region id
        explode: false
        in: path
        name: regionId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange
        explode: false
        in: path
        name: exchangeId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange queue binding
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exchangeBinding'
          description: Successfully created exchange
  /organizations/{orgId}/environments/{envId}/regions/{regionId}/bindings/exchanges/{exchangeId}/queues/{queueId}/rules/routing:
    delete:
      description: Delete an exchange queue binding Rule
      operationId: DeleteAMEBindingRule
      parameters:
      - description: The organization Id
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The environment id
        explode: false
        in: path
        name: envId
        required: true
        schema:
          type: string
        style: simple
      - description: The region id
        explode: false
        in: path
        name: regionId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange
        explode: false
        in: path
        name: exchangeId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange queue binding
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          description: Access token is missing or invalid
        "204":
          description: Success response
    put:
      description: Create exchange queue binding rule
      operationId: CreateAMEBindingRule
      parameters:
      - description: The organization Id
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The environment id
        explode: false
        in: path
        name: envId
        required: true
        schema:
          type: string
        style: simple
      - description: The region id
        explode: false
        in: path
        name: regionId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange
        explode: false
        in: path
        name: exchangeId
        required: true
        schema:
          type: string
        style: simple
      - description: The id of a specific exchange queue binding
        explode: false
        in: path
        name: queueId
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/AMEBindingRuleBody'
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/exchangeBindingRules'
          description: Successfully created exchange binding rules
components:
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      content:
        application/json:
          schema:
            properties:
              status:
                default: 400
                title: the response status code
                type: integer
              message:
                example: api error message
                title: the error message
                type: string
            type: object
      description: Bad request response
    NotFound:
      content:
        application/json:
          schema:
            properties:
              status:
                default: 404
                title: the response status code
                type: integer
              message:
                example: api error message
                title: the error message
                type: string
            type: object
      description: Queue not found
    SuccessGetExchangeBinding:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exchangeBindingWithRules'
      description: Success response
    SuccessCreateExchangeBinding:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exchangeBinding'
      description: Successfully created exchange
    SuccessDeleteExchangeBinding:
      description: Success response
    SuccessCreateExchangeBindingRules:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/exchangeBindingRules'
      description: Successfully created exchange binding rules
    SuccessDeleteExchangeBindingRules:
      description: Success response
  schemas:
    exchangeBinding:
      example:
        exchangeId: exchangeId
        queueId: queueId
      properties:
        queueId:
          title: queueId
          type: string
        exchangeId:
          title: exchangeId
          type: string
      title: exchangeBinding
      type: object
    exchangeBindingWithRules:
      allOf:
      - $ref: '#/components/schemas/exchangeBinding'
      - $ref: '#/components/schemas/exchangeBindingWithRules_allOf'
    exchangeBindingRules:
      example:
        exchangeId: exchangeId
        queueId: queueId
        routingRules:
        - "{}"
        - "{}"
      properties:
        queueId:
          title: queueId
          type: string
        exchangeId:
          title: exchangeId
          type: string
        routingRules:
          items:
            title: routingRule
            type: object
          title: routingRules
          type: array
      title: exchangeBinding
      type: object
    routingRules:
      items:
        title: routingRule
        type: object
      title: routingRules
      type: array
    AMEBindingRuleBody:
      example:
        routingRules:
        - "{}"
        - "{}"
      properties:
        routingRules:
          items:
            title: routingRule
            type: object
          title: routingRules
          type: array
      title: AMEBindingRuleBody
      type: object
    exchangeBindingWithRules_allOf:
      properties:
        rules:
          items:
            title: routingRule
            type: object
          title: routingRules
          type: array
      example: null
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
