openapi: 3.0.0
info:
  contact: {}
  title: Exchange Assets
  version: "1.0"
servers:
- url: https://anypoint.mulesoft.com/exchange/api
tags:
- name: Misc
paths:
  /v2/assets:
    get:
      deprecated: false
      description: Get Asset
      operationId: GetAsset
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          default: Bearer {token}
          type: string
        style: simple
      - explode: true
        in: query
        name: search
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: types
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: domain
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: masterOrganizationId
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: offset
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: limit
        required: true
        schema:
          format: int32
          type: integer
        style: form
      - explode: true
        in: query
        name: sharedWithMe
        required: true
        schema:
          type: string
        style: form
      - explode: true
        in: query
        name: includeSnapshots
        required: true
        schema:
          type: boolean
        style: form
      responses:
        "200":
          content: {}
      summary: GetAsset
      tags:
      - Misc
  /v2/assets/{cloudhub-org}/{cloudhub-ex-asset}/asset:
    get:
      deprecated: false
      description: Get one specific Asset
      operationId: GetonespecificAsset
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          default: Bearer {token}
          type: string
        style: simple
      - explode: false
        in: path
        name: cloudhub-org
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cloudhub-ex-asset
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
      summary: GetonespecificAsset
      tags:
      - Misc
  /v2/assets/{cloudhub-org}/{cloudhub-ex-asset}:
    patch:
      deprecated: false
      description: Modify an asset
      operationId: Modifyanasset
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          default: Bearer {token}
          type: string
        style: simple
      - explode: false
        in: path
        name: cloudhub-org
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cloudhub-ex-asset
        required: true
        schema:
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            example:
              description: postmanbbb{{$randomInt}}
            schema:
              $ref: '#/components/schemas/ModifyanassetRequest'
        required: true
      responses:
        "200":
          content: {}
      summary: Modifyanasset
      tags:
      - Misc
  /v1/assets:
    post:
      deprecated: false
      description: Create a new asset
      operationId: Createanewasset
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          default: Bearer {token}
          type: string
        style: simple
      requestBody:
        $ref: '#/components/requestBodies/inline_object'
        content:
          application/x-www-form-urlencoded:
            encoding: {}
            schema:
              properties:
                organizationId:
                  type: string
                assetId:
                  type: string
                version:
                  type: string
                name:
                  type: string
                classifier:
                  type: string
                apiVersion:
                  type: string
                main:
                  type: string
                groupId:
                  type: string
                asset:
                  type: string
              required:
              - apiVersion
              - asset
              - assetId
              - classifier
              - groupId
              - main
              - name
              - organizationId
              - version
              type: object
        required: false
      responses:
        "200":
          content: {}
      summary: Createanewasset
      tags:
      - Misc
  /v2/assets/{cloudhub-org}/{cloudhub-ex-asset}/{cloudhub-ex-version}:
    delete:
      deprecated: false
      description: Delete an asset
      operationId: Deleteanasset
      parameters:
      - explode: false
        in: header
        name: Authorization
        required: false
        schema:
          default: Bearer {token}
          type: string
        style: simple
      - explode: false
        in: header
        name: x-delete-type
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cloudhub-org
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cloudhub-ex-asset
        required: true
        schema:
          type: string
        style: simple
      - explode: false
        in: path
        name: cloudhub-ex-version
        required: true
        schema:
          type: string
        style: simple
      responses:
        "200":
          content: {}
      summary: Deleteanasset
      tags:
      - Misc
components:
  requestBodies:
    inline_object:
      content:
        application/x-www-form-urlencoded:
          schema:
            $ref: '#/components/schemas/inline_object'
      required: false
  schemas:
    ModifyanassetRequest:
      example:
        description: postmanbbb{{$randomInt}}
      properties:
        description:
          type: string
      required:
      - description
      title: ModifyanassetRequest
      type: object
    inline_object:
      properties:
        organizationId:
          type: string
        assetId:
          type: string
        version:
          type: string
        name:
          type: string
        classifier:
          type: string
        apiVersion:
          type: string
        main:
          type: string
        groupId:
          type: string
        asset:
          type: string
      required:
      - apiVersion
      - asset
      - assetId
      - classifier
      - groupId
      - main
      - name
      - organizationId
      - version
      type: object
