/*
Connected App API

Description of the Connected App API

API version: 1.0.0
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package connected_app

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// DefaultAPIService DefaultAPI service
type DefaultAPIService service

type DefaultAPICreateConnectedAppRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	connectedAppCore *ConnectedAppCore
}

func (r DefaultAPICreateConnectedAppRequest) ConnectedAppCore(connectedAppCore ConnectedAppCore) DefaultAPICreateConnectedAppRequest {
	r.connectedAppCore = &connectedAppCore
	return r
}

func (r DefaultAPICreateConnectedAppRequest) Execute() (*ConnectedAppRespExt, *http.Response, error) {
	return r.ApiService.CreateConnectedAppExecute(r)
}

/*
CreateConnectedApp Method for CreateConnectedApp

Create a new connected application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization
 @return DefaultAPICreateConnectedAppRequest
*/
func (a *DefaultAPIService) CreateConnectedApp(ctx context.Context, orgId string) DefaultAPICreateConnectedAppRequest {
	return DefaultAPICreateConnectedAppRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
	}
}

// Execute executes the request
//  @return ConnectedAppRespExt
func (a *DefaultAPIService) CreateConnectedAppExecute(r DefaultAPICreateConnectedAppRequest) (*ConnectedAppRespExt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConnectedAppRespExt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.CreateConnectedApp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/connectedApplications"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.connectedAppCore
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CreateConnectedApp400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIDeleteConnectedAppRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	connAppId string
}

func (r DefaultAPIDeleteConnectedAppRequest) Execute() (*http.Response, error) {
	return r.ApiService.DeleteConnectedAppExecute(r)
}

/*
DeleteConnectedApp Method for DeleteConnectedApp

Deletes a single connected application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization
 @param connAppId The ID of the connected app
 @return DefaultAPIDeleteConnectedAppRequest
*/
func (a *DefaultAPIService) DeleteConnectedApp(ctx context.Context, orgId string, connAppId string) DefaultAPIDeleteConnectedAppRequest {
	return DefaultAPIDeleteConnectedAppRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		connAppId: connAppId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) DeleteConnectedAppExecute(r DefaultAPIDeleteConnectedAppRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.DeleteConnectedApp")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/connectedApplications/{connAppId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connAppId"+"}", url.PathEscape(parameterValueToString(r.connAppId, "connAppId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type DefaultAPIGetAllConnectedAppsRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	includeUsage *bool
	orgId *string
	offset *int32
	limit *int32
	search *string
}

// flag to indicate whether to return usage statistics
func (r DefaultAPIGetAllConnectedAppsRequest) IncludeUsage(includeUsage bool) DefaultAPIGetAllConnectedAppsRequest {
	r.includeUsage = &includeUsage
	return r
}

// Provide an orgId to get all clients from other organization
func (r DefaultAPIGetAllConnectedAppsRequest) OrgId(orgId string) DefaultAPIGetAllConnectedAppsRequest {
	r.orgId = &orgId
	return r
}

// The number of records to omit from the response.
func (r DefaultAPIGetAllConnectedAppsRequest) Offset(offset int32) DefaultAPIGetAllConnectedAppsRequest {
	r.offset = &offset
	return r
}

// Maximum records to retrieve per request.
func (r DefaultAPIGetAllConnectedAppsRequest) Limit(limit int32) DefaultAPIGetAllConnectedAppsRequest {
	r.limit = &limit
	return r
}

// A search string to use for case-insensitive partial matches on all object properties.
func (r DefaultAPIGetAllConnectedAppsRequest) Search(search string) DefaultAPIGetAllConnectedAppsRequest {
	r.search = &search
	return r
}

func (r DefaultAPIGetAllConnectedAppsRequest) Execute() (*GetAllConnectedApps200Response, *http.Response, error) {
	return r.ApiService.GetAllConnectedAppsExecute(r)
}

/*
GetAllConnectedApps Method for GetAllConnectedApps

Get all connected applications for the organization

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return DefaultAPIGetAllConnectedAppsRequest
*/
func (a *DefaultAPIService) GetAllConnectedApps(ctx context.Context) DefaultAPIGetAllConnectedAppsRequest {
	return DefaultAPIGetAllConnectedAppsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return GetAllConnectedApps200Response
func (a *DefaultAPIService) GetAllConnectedAppsExecute(r DefaultAPIGetAllConnectedAppsRequest) (*GetAllConnectedApps200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetAllConnectedApps200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetAllConnectedApps")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connectedApplications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeUsage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUsage", r.includeUsage, "form", "")
	}
	if r.orgId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orgId", r.orgId, "form", "")
	}
	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	if r.search != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "search", r.search, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetConnectedAppRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	connAppId string
	includeUsage *bool
}

// flag to indicate whether to return usage statistics
func (r DefaultAPIGetConnectedAppRequest) IncludeUsage(includeUsage bool) DefaultAPIGetConnectedAppRequest {
	r.includeUsage = &includeUsage
	return r
}

func (r DefaultAPIGetConnectedAppRequest) Execute() (*ConnectedAppRespExt, *http.Response, error) {
	return r.ApiService.GetConnectedAppExecute(r)
}

/*
GetConnectedApp Method for GetConnectedApp

Get a single connected application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization
 @param connAppId The ID of the connected app
 @return DefaultAPIGetConnectedAppRequest
*/
func (a *DefaultAPIService) GetConnectedApp(ctx context.Context, orgId string, connAppId string) DefaultAPIGetConnectedAppRequest {
	return DefaultAPIGetConnectedAppRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		connAppId: connAppId,
	}
}

// Execute executes the request
//  @return ConnectedAppRespExt
func (a *DefaultAPIService) GetConnectedAppExecute(r DefaultAPIGetConnectedAppRequest) (*ConnectedAppRespExt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConnectedAppRespExt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetConnectedApp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/connectedApplications/{connAppId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connAppId"+"}", url.PathEscape(parameterValueToString(r.connAppId, "connAppId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeUsage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUsage", r.includeUsage, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetConnectedAppByIdOnlyRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	connAppId string
	includeUsage *bool
}

// flag to indicate whether to return usage statistics
func (r DefaultAPIGetConnectedAppByIdOnlyRequest) IncludeUsage(includeUsage bool) DefaultAPIGetConnectedAppByIdOnlyRequest {
	r.includeUsage = &includeUsage
	return r
}

func (r DefaultAPIGetConnectedAppByIdOnlyRequest) Execute() (*ConnectedAppRespExt, *http.Response, error) {
	return r.ApiService.GetConnectedAppByIdOnlyExecute(r)
}

/*
GetConnectedAppByIdOnly Method for GetConnectedAppByIdOnly

Get a single connected application with connected app id and without organization id

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param connAppId The ID of the connected app
 @return DefaultAPIGetConnectedAppByIdOnlyRequest
*/
func (a *DefaultAPIService) GetConnectedAppByIdOnly(ctx context.Context, connAppId string) DefaultAPIGetConnectedAppByIdOnlyRequest {
	return DefaultAPIGetConnectedAppByIdOnlyRequest{
		ApiService: a,
		ctx: ctx,
		connAppId: connAppId,
	}
}

// Execute executes the request
//  @return ConnectedAppRespExt
func (a *DefaultAPIService) GetConnectedAppByIdOnlyExecute(r DefaultAPIGetConnectedAppByIdOnlyRequest) (*ConnectedAppRespExt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConnectedAppRespExt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetConnectedAppByIdOnly")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/connectedApplications/{connAppId}"
	localVarPath = strings.Replace(localVarPath, "{"+"connAppId"+"}", url.PathEscape(parameterValueToString(r.connAppId, "connAppId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.includeUsage != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeUsage", r.includeUsage, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIGetConnectedAppScopesRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	connAppId string
	offset *int32
	limit *int32
}

// The number of records to omit from the response.
func (r DefaultAPIGetConnectedAppScopesRequest) Offset(offset int32) DefaultAPIGetConnectedAppScopesRequest {
	r.offset = &offset
	return r
}

// Maximum records to retrieve per request.
func (r DefaultAPIGetConnectedAppScopesRequest) Limit(limit int32) DefaultAPIGetConnectedAppScopesRequest {
	r.limit = &limit
	return r
}

func (r DefaultAPIGetConnectedAppScopesRequest) Execute() (*GetConnectedAppScopes200Response, *http.Response, error) {
	return r.ApiService.GetConnectedAppScopesExecute(r)
}

/*
GetConnectedAppScopes Method for GetConnectedAppScopes

Retrieves context-aware scopes assigned to the connected application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization
 @param connAppId The ID of the connected app
 @return DefaultAPIGetConnectedAppScopesRequest
*/
func (a *DefaultAPIService) GetConnectedAppScopes(ctx context.Context, orgId string, connAppId string) DefaultAPIGetConnectedAppScopesRequest {
	return DefaultAPIGetConnectedAppScopesRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		connAppId: connAppId,
	}
}

// Execute executes the request
//  @return GetConnectedAppScopes200Response
func (a *DefaultAPIService) GetConnectedAppScopesExecute(r DefaultAPIGetConnectedAppScopesRequest) (*GetConnectedAppScopes200Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *GetConnectedAppScopes200Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.GetConnectedAppScopes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/connectedApplications/{connAppId}/scopes"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connAppId"+"}", url.PathEscape(parameterValueToString(r.connAppId, "connAppId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.offset != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "offset", r.offset, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIUpdateConnectedAppRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	connAppId string
	resetSecret *bool
	connectedAppPatchExt *ConnectedAppPatchExt
}

// Asks service to reset secret as part of this operation
func (r DefaultAPIUpdateConnectedAppRequest) ResetSecret(resetSecret bool) DefaultAPIUpdateConnectedAppRequest {
	r.resetSecret = &resetSecret
	return r
}

func (r DefaultAPIUpdateConnectedAppRequest) ConnectedAppPatchExt(connectedAppPatchExt ConnectedAppPatchExt) DefaultAPIUpdateConnectedAppRequest {
	r.connectedAppPatchExt = &connectedAppPatchExt
	return r
}

func (r DefaultAPIUpdateConnectedAppRequest) Execute() (*ConnectedAppRespExt, *http.Response, error) {
	return r.ApiService.UpdateConnectedAppExecute(r)
}

/*
UpdateConnectedApp Method for UpdateConnectedApp

Patches a single connected application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization
 @param connAppId The ID of the connected app
 @return DefaultAPIUpdateConnectedAppRequest
*/
func (a *DefaultAPIService) UpdateConnectedApp(ctx context.Context, orgId string, connAppId string) DefaultAPIUpdateConnectedAppRequest {
	return DefaultAPIUpdateConnectedAppRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		connAppId: connAppId,
	}
}

// Execute executes the request
//  @return ConnectedAppRespExt
func (a *DefaultAPIService) UpdateConnectedAppExecute(r DefaultAPIUpdateConnectedAppRequest) (*ConnectedAppRespExt, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPatch
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ConnectedAppRespExt
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.UpdateConnectedApp")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/connectedApplications/{connAppId}"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connAppId"+"}", url.PathEscape(parameterValueToString(r.connAppId, "connAppId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.resetSecret != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "resetSecret", r.resetSecret, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.connectedAppPatchExt
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CreateConnectedApp400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type DefaultAPIUpdateConnectedAppScopesRequest struct {
	ctx context.Context
	ApiService *DefaultAPIService
	orgId string
	connAppId string
	connectedAppScopesPutBody *ConnectedAppScopesPutBody
}

func (r DefaultAPIUpdateConnectedAppScopesRequest) ConnectedAppScopesPutBody(connectedAppScopesPutBody ConnectedAppScopesPutBody) DefaultAPIUpdateConnectedAppScopesRequest {
	r.connectedAppScopesPutBody = &connectedAppScopesPutBody
	return r
}

func (r DefaultAPIUpdateConnectedAppScopesRequest) Execute() (*http.Response, error) {
	return r.ApiService.UpdateConnectedAppScopesExecute(r)
}

/*
UpdateConnectedAppScopes Method for UpdateConnectedAppScopes

Replaces the entire list of context-aware scopes assigned to the connected application

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param orgId The ID of the organization
 @param connAppId The ID of the connected app
 @return DefaultAPIUpdateConnectedAppScopesRequest
*/
func (a *DefaultAPIService) UpdateConnectedAppScopes(ctx context.Context, orgId string, connAppId string) DefaultAPIUpdateConnectedAppScopesRequest {
	return DefaultAPIUpdateConnectedAppScopesRequest{
		ApiService: a,
		ctx: ctx,
		orgId: orgId,
		connAppId: connAppId,
	}
}

// Execute executes the request
func (a *DefaultAPIService) UpdateConnectedAppScopesExecute(r DefaultAPIUpdateConnectedAppScopesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DefaultAPIService.UpdateConnectedAppScopes")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/organizations/{orgId}/connectedApplications/{connAppId}/scopes"
	localVarPath = strings.Replace(localVarPath, "{"+"orgId"+"}", url.PathEscape(parameterValueToString(r.orgId, "orgId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"connAppId"+"}", url.PathEscape(parameterValueToString(r.connAppId, "connAppId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.connectedAppScopesPutBody
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CreateConnectedApp400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
