openapi: 3.0.0
info:
  description: Description of the User Group API
  title: User RoleGroups API
  version: 1.0.0
servers:
- description: Anypoint Cloudhub
  url: https://anypoint.mulesoft.com/accounts/api/
- description: Anypoint Cloudhub EU
  url: https://eu1.anypoint.mulesoft.com/accounts/api/
security:
- bearerAuth: []
paths:
  /organizations/{orgId}/users/{userId}/rolegroups:
    get:
      description: Returns the users' rolegroups.
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the user in GUID format
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: Maximum number of rolegroups to retrieve per request.
        explode: true
        in: query
        name: limit
        required: false
        schema:
          type: integer
        style: form
      - description: The number of records to omit from the response.
        explode: true
        in: query
        name: offset
        required: false
        schema:
          type: integer
        style: form
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/inline_response_200'
          description: Success response
  /organizations/{orgId}/users/{userId}/rolegroups/{rolegroupId}:
    delete:
      description: Delete user rolegroup assignment
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the user's rolegroup
        explode: false
        in: path
        name: rolegroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          description: Success response
    post:
      description: Assign rolegroup to user
      parameters:
      - description: The ID of the organization in GUID format
        explode: false
        in: path
        name: orgId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the user
        explode: false
        in: path
        name: userId
        required: true
        schema:
          type: string
        style: simple
      - description: The ID of the user's rolegroup
        explode: false
        in: path
        name: rolegroupId
        required: true
        schema:
          type: string
        style: simple
      responses:
        "401":
          description: Access token is missing or invalid
        "200":
          description: Success response
components:
  responses:
    UnauthorizedError:
      description: Access token is missing or invalid
    BadRequestError:
      content:
        application/json:
          schema:
            properties:
              status:
                default: 400
                title: the response status code
                type: integer
              message:
                example: A sample message here
                title: the error message
                type: string
            type: object
      description: Bad request response
    SuccessPostUserRoleGroup:
      description: Success response
    SuccessDeleteUserRoleGroup:
      description: Success response
    SuccessListUserRoleGroups:
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/inline_response_200'
      description: Success response
  schemas:
    rolegroup:
      example:
        user_role_group_id: user_role_group_id
        updated_at: 2021-03-05T14:06:52.976Z
        org_id: aa1f55d6-213d-4f60-845c-207286484cd1
        editable: true
        name: API Creators
        external_names:
        - external_names
        - external_names
        description: API Creators
        created_at: 2021-03-05T14:06:52.976Z
        role_group_id: a1a8b488-1e48-44ac-ba40-d53f518808af
        context_params: '{}'
      properties:
        role_group_id:
          example: a1a8b488-1e48-44ac-ba40-d53f518808af
          title: id
          type: string
        name:
          example: API Creators
          title: name
          type: string
        external_names:
          items:
            title: externalName
            type: string
          title: externalNames
          type: array
        description:
          example: API Creators
          title: description
          type: string
        org_id:
          example: aa1f55d6-213d-4f60-845c-207286484cd1
          title: orgId
          type: string
        editable:
          title: editable
          type: boolean
        created_at:
          example: 2021-03-05T14:06:52.976Z
          title: createdAt
          type: string
        updated_at:
          example: 2021-03-05T14:06:52.976Z
          title: updatedAt
          type: string
        context_params:
          title: contextParams
          type: object
        user_role_group_id:
          title: userRolegroupId
          type: string
      title: rolegroup
      type: object
    inline_response_200:
      example:
        total: 0
        data:
        - user_role_group_id: user_role_group_id
          updated_at: 2021-03-05T14:06:52.976Z
          org_id: aa1f55d6-213d-4f60-845c-207286484cd1
          editable: true
          name: API Creators
          external_names:
          - external_names
          - external_names
          description: API Creators
          created_at: 2021-03-05T14:06:52.976Z
          role_group_id: a1a8b488-1e48-44ac-ba40-d53f518808af
          context_params: '{}'
        - user_role_group_id: user_role_group_id
          updated_at: 2021-03-05T14:06:52.976Z
          org_id: aa1f55d6-213d-4f60-845c-207286484cd1
          editable: true
          name: API Creators
          external_names:
          - external_names
          - external_names
          description: API Creators
          created_at: 2021-03-05T14:06:52.976Z
          role_group_id: a1a8b488-1e48-44ac-ba40-d53f518808af
          context_params: '{}'
      properties:
        data:
          items:
            $ref: '#/components/schemas/rolegroup'
          title: userRolegroups
          type: array
        total:
          title: total
          type: integer
      type: object
  securitySchemes:
    bearerAuth:
      bearerFormat: JWT
      scheme: bearer
      type: http
